div#page-container
    nav.navbar.navbar-default.cryogen-nav(role='navigation')
        div.navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                for i in [1,2,3]
                    span.icon-bar
        div.navbar-brand
            img.img-responsive.logo(src='/images/logo.png')
        div#center-div
            div.collapse.navbar-collapse#navbar-collapse-1
                ul.nav.navbar-nav.nav-items(style='margin-left: 22px;')
                    li
                        a.link.spa-link(href='/', data-link='/') Homepage
                    li.dropdown
                        a.link.dropdown-toggle(data-toggle='dropdown') Play
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='http://api.cryogen-rsps.com/live/download/latest') Download as JAR
                    li#spacer(class='spacer')
                        a.spa-link(href='/forums') Community
                    li
                        a.spa-link(href='/highscores') Highscores
                    li
                        a.spa-link(href='/account/vote') Vote
                    li.dropdown
                        a.dropdown-toggle(href='/account', data-toggle='dropdown') Account
                            b.caret
                        ul.dropdown-menu
                            if loggedIn
                                li
                                    a.spa-link(href='/account') Overview
                                li
                                    a.user(data-id=user.getId()) Profile
                                li
                                    a.spa-link(href='/forums/private/inbox') Inbox
                                li
                                    a.spa-link(href='/account/shop') Shop
                            else
                                li
                                    a.signin(href='#') Sign In
                                li
                                    a.spa-link(href='/recover') Forgot my Password
                                li
                                    a.spa-link(href='/register') Register
                            li(class='divider')
                            if loggedIn
                                if user.getRights() > 0
                                    li
                                        a.spa-link(href='/staff') Staff
                                li
                                    a.spa-link(href='/support') Support
                                li
                                    a.spa-link(href='/logout') Sign Out
                    li.dropdown
                        a.dropdown-toggle(href='/notifications', data-toggle='dropdown')
                            span
                                i.fa.fa-bell
                        .dropdown-menu#notification-menu
    #main-content