include ../utils/stylesheet
include ../utils/script

doctype html
html
    head
        title Cryogen Website
        meta(name='description', content='Cryogen RSPS. Runescape cloned.')
        meta(name='keywords', content='Cryogen, Runescape, RSPS')
        meta(name='google-site-verification', content='MdGWQ9EXaryDgWAfU8slKcH0JWYpDLz3ze4mETQ0F4s')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='X-UA-Compatible', content='IE=9')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='/js/ui/jquery/jquery.js', type='text/javascript')
        script(src='/js/ui/jquery-ui.min.js', type='text/javascript')
        script(src='/js/jquery.nicescroll.js', type='text/javascript')
        script(src='/js/noty/packaged/jquery.noty.packaged.js', type='text/javascript')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js')
        script(src='/js/utils/spa.js', type='text/javascript')

        +includeScript('noty/themes/cryogen')
        +includeScript('utils/alerts')
        +includeScript('default')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/bootstrap/js/bootbox.min.js')

        link(rel='icon', href='/images/favicon.ico')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', media='screen')
        link(rel='stylesheet', href='/js/ui/jquery-ui.min.css')
        +includeStylesheet('default')
        +includeStylesheet('misc')
        script.
            $.extend({
                getUrlVars: function() {
                    let vars = {}, hash;
                    let hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                    for(let i = 0; i < hashes.length; i++) {
                        hash = hashes[i].split('=');
                        vars[hash[0]] = hash[1];
                    }
                    return vars;
                },
                getUrlVar: function(name){
                    return $.getUrlVars()[name];
                }
            });
            $(document).ready(() => {

                let data = $.getUrlVars();
                data.first = true;
                
                post(window.location.pathname, data, null, data => {
                    window.rights = data.rights;

                    $('#body').html(data.body);
                    $('#footer').html(data.footer);
                    $('#main-content').html(data.html);

                    return false;

                });
                

            });
    body
        #body
        #footer