.account-node-btns
    button.btn.btn-default.spa-link.left(href='/account/overview') Overview
    button.btn.btn-default.spa-link.right(href='/highscores/personal/me') My Highscores
    .clear
    button.btn.btn-default.spa-link.left(href='/account/vote') Vote
    button.btn.btn-default.spa-link.right(href='/account/shop') Shop
.clear