script.
    //Hack to prevent browsers overwriting styles due to autocomplete.
    //Unfortunately prevents LastPass (and probably others) filling in username field for some reason. Still works for password field
    setTimeout(() => {
        $('.login-input').each(function() {
            $(this).attr('readonly', false);
        });
    }, 500);

    let redirect = '!{redirect}';

    $(document).ready(() => {

        $('#login-btn').click(() => {

            let username = $('.username').val();
            let password = $('.password').val();
            let remember = $('#remember-me>input').val();
            //TODO - https with SPA?

            post('/login', { username, password, remember, redirect });

        });

        $('#forgot-btn').click(() => {

            let username = $('.username').val();
            post('/forgot', { username });

        });

    });

p Username:
input.username.login-input.input(type='text', placeholder='Enter username', readonly)
p Password:
input.password.login-input.input(type='password', placeholder='Enter password', readonly)
.clear
div#remember-me
    input(type='checkbox')
    span  Keep me logged in
.login-node-buttons
    button.btn.btn-default#login-btn Login
    button.btn.btn-default#forgot-btn Forgot Password
    .clear