script.
    //Hack to prevent browsers overwriting styles due to autocomplete.
    //Unfortunately prevents LastPass (and probably others) filling in username field for some reason. Still works for password field
    setTimeout(() => {
        $('.login-input').each(function() {
            $(this).attr('readonly', false);
        });
    }, 500);

p Username:
input.username.login-input(type='text', placeholder='Enter username', readonly)
p Password:
input.password.login-input(type='password', placeholder='Enter password', readonly)
.login-node-buttons
    button.btn.btn-default#login-btn Login
    button.btn.btn-default#forgot-btn Forgot Password
    .clear