.create-usergroup-container,
.create-modal-container {
    padding: 5px 10px;
    text-align: center;
}

.create-usergroup-values,
.create-modal-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.create-bbcode-matches input:not(:first-of-type) {
    margin-top: 5px;
}