.thread {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: .75rem 0;
    border-bottom: 1px solid #000;
}

.pages {
    float: right;
    margin: -15px 20px 10px 0;
    color: white;
    font: .75em sans-serif;
}

.thread:last-of-type {
    border-bottom: none;
}

.new-thread-btn {
    float: right;
    margin-bottom: 5px;
}

.thread-view-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

.users-viewing-container {
    padding: 1rem;
}

.create-thread-btn {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-thread-title {
    width: 95%;
}