script.
    $(document).on('click', '.bbcode-preview-reload', function() {
        let regex = $('#regex').val();
        let replacement = $('#replacement').val();
        let example = $('#example').val();
        let css = $('#css').val();
        $('#preview-css').remove();
        $('<style id="preview-css" type="text/css"> '+css+' </style>').appendTo('head');
        $(this).find('i').addClass('fa-spin');
        let that = $(this);
        setTimeout(() => {
            that.find('i').removeClass('fa-spin');
        }, 1000);
        $.post('/forums/admin/bbcodes/format', { regex, replacement, example }, ret => {
            let data = getJSON(ret);
            if(data == null) return false;
            $('.bbcode-preview').find('p').html(data.post);
        });
    });
if code != null && code.getCSS() != ''
    style= code.getCSS()
.noty_message
    span.noty_text
    .widget.register(style='margin-top: 5px')
        .report_line
            label.name Name
            input#name(type='text', value=(code == null ? '' : code.getName()))
        .clear
        .report_line
            label.name Description
            input#description(type='text', value=(code == null ? '' : code.getDescription()))
        .clear
        .report_line
            label.name Allow Nested
            label.switch
                input#nested(type='checkbox', checked=(code == null ? true : code.isAllowNested()))
                span.slider.round
        .clear
        .report_line
            label.name Regex
            input#regex(type='text', value=(code == null ? '' : code.getRegex()))
        .clear
        .report_line
            label.name Replacement
            input#replacement(type='text', value=(code == null ? '' : code.getReplacement()))
        .clear
        .report_line
            label.name Example
            input#example(type='text', value=(code == null ? '' : code.getExample()))
        .clear
        .report_line
            label.name CSS
            textarea#css= code == null ? '' : code.getCSS()
        .clear
        p.bbcode-preview-title Preview: 
            span.vis-link.bbcode-preview-reload
                i.fa.fa-refresh
        .bbcode-preview
            p!= code == null ? '' : manager.getFormattedPost(user, code.getExample())
.noty_close
