div.noty_message
	span.noty_text
	div.row(style='margin-top: 5px; padding: 0 20px;')
		-var days = [ "1 Day", "2 Days", "1 Week", "Forever" ];
		for i in [0, 1, 2, 3]
			label.col-xs-3
				input.extend-radio(type='radio', style='margin-bottom: 5px;', data-id=i)
				br
				div.small(style='display: inline-block;')= days[i]
			//- div(style='margin-top: 10px;')
			//- 	-var days = [ '1 Day', '2 Days', '1 Week', 'Permanently' ]
			//- 	for i in [ 0, 1, 2, 3 ]
			//- 		div(style='display: inline-block')
			//- 			div(style='display: block')
			//- 				input.extend-radio(type='radio', data-id=i)
			//- 				p= days[i]
div.noty_close
