include ../utils/script
include ../utils/stylesheet

+includeStylesheet('utils/list')
+includeStylesheet('utils/buttons')
+includeStylesheet('utils/input')
+includeScript('utils/tabs')
+includeStylesheet('logs')
script.
    $(document).ready(() => {

        buildPage('logs', {
            'login': 'Login',
            'command': 'Command',
            'trade': 'Trade',
            'ge': 'Grand Exchange',
            'items': 'Item Tracking',
            'death': 'Death',
            'npc-drop': 'NPC Drops',
            'drop': 'Drop',
            'pickup': 'Pickup',
            'dice': 'Dice',
            'bob': 'BOB',
            'bob-death': 'BOB Deaths',
            'pvp': 'PVP',
            'duel': 'Duel',
            'pos': 'Player Owned Shop',
            'shop': 'Regular Shops'
        }, '!{active}');

    });

include ../utils/tabs