script.
	var archive = false;
	var page = 1;
	$(document).ready(function() {

		loadBugReportList();

		function loadBugReportList() {
			$.post('/staff', { mod:'breport', action:'view-list', archived:archive, page:page }, function(ret) {
				var data = getJSON(ret);
				if(data == null) return;
				update(false, data.html);
				update(true, getDescription());
				updatePage(data.pageTotal);
			});
			return false;
		}

		function loadReport(id) {
			$.post('/staff', { mod:'breport', action:'view-report', id:id, archived:archive }, function(ret) {
				var data = JSON.parse(ret);
				if(!JSONError(data)) return;
				update(true, 'Currently viewing report');
				update(false, data.html);
			});
		}

		function update(info, data) {
			$(info ? '#breport-info' : '#breport-main').html(data);
			$('#archiveb-p').html(' '+(archive ? 'Archive' : 'Active'));
		}

		function updatePage(page_t) {
			var pages = [];
			//always show first page
			pages.push(1);
			while(true) {
				if(page_t == 1)
					break;
				//if less than 5 pages, just show option for each page
				if(page_t <= 5) {
					for(var i = 2; i < page_t+1; i++) {
						pages.push(i);
					}
					break;
				}
				//otherwise second page is 1 less than current
				pages.push(page-1);
				//next option is current page
				pages.push(page);
				//if we're on last page, we don't need to display anymore
				if(page_t == page)
					break;
				//otherwise we can display another
				pages.push(page+1);
				//and if the last option we showed wasn't the last page, show last page
				if(page_t != (page+1))
					pages.push(page_t);
				break;
			}
			for(var i = 0; i < pages.length; i++) {
				var span = $('<span></span>');
				var show_page = pages[i];
				var html = (show_page==page?'[':'')+""+show_page+""+(show_page==page?']':'');
				if(i != (pages.length-1))
					html += ' ';
				if(show_page != page)
					span.addClass('vis-link').addClass('page-link');
				span.html(html);
				$('#bpages').append(span);
			}
		}

		function getDescription() {
			return archive ? 'Currently viewing all archived bug reports' : 'Currently viewing all active bug reports';
		}

		$(document).on('click', '#view', function() {
			var elem = $(this).closest('tr');
			var id = elem.data('id');
			var type = elem.data('type');
			if(type != 'BUG')
				return false;
			loadReport(id);
		});    

		$(document).on('click', '.returnb-but', loadBugReportList);

		$('#viewarch-btn').click(function() {
			var archived = !archive;
			archive = archived;
			return loadBugReportList();
		});

		$(document).on('click', '#bpages .page-link', function() {

		});

		var close = 'Click to close search bar.';
		var open = 'Click to open search bar.';

		//click search icon
		$('#search-breport-icon').click(function() {
			var icon = $(this);
			var search = $('#search-bin');
			var user = search.find('input').val();
			var att = search.attr('display');
			if(att == 'none' || att == '') {
				icon.attr('title', close);
				search.attr('display', 'inline');
				search.show('slide', {direction: 'right'}, 1000);
			} else {
				if(user == '') {
					search.hide('slide', {direction: 'right'}, 1000, function() {
						search.attr('display', 'none');
						icon.attr('title', open);
					});
					return;
				}
				$('#search-berror').css('display', '');
				$('#search-berror').html('error');
				$('#search-berror').fadeOut(5000);
			}
		});

	});
div.tab-pane.fade#breports
	div.row
		div.iactions
			div
				div(style='float: left; margin: 10px 10px;')
					h5.color-grey Bug Reports
						h6.color-grey#breport-info Currently viewing all active bug reports
				div(style='float: right; margin: 33.5px 5px;')
					div.link#viewarch-btn
						i.fa.fa-archive
						span#archiveb-p  Archive
	div.row(style='padding: 15px;')
		div#search-breport(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Click the search icon to begin searching for a report. Search with criteria using name:
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Example: name: cody - what
				br
				span Will search for any reports by user 'cody' with 'what' in the title
			p.color-red#search-berror(style='display: none')
			div
				span.glyphicon.glyphicon-search.link#search-breport-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
				div#search-bin(style='float: right; display: none;', display='none')
					input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
		div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
		div
			div#breport-main
			div.pages Pages: 
				div#bpages
