script.
	var archive = false;
	var page = 1;
	$(document).ready(function() {

		loadBugReportList();

		function loadBugReportList() {
			loadList('breport', archive, page);
			return false;
		}

		function loadBugReport(id) {
			loadReport('breport', archive, id);
		}

		$(document).on('click', '.page-link', function() {
			page = $(this).data('page');
			return loadBugReportList();
		});

		$(document).on('click', '#view', function() {
			var elem = $(this).closest('tr');
			var id = elem.data('id');
			var type = elem.data('type');
			if(type != 'BUG')
				return false;
			loadBugReport(id);
			return false;
		});    

		$(document).on('click', '.returnb-but', loadBugReportList);

		$('#viewarch-btn').click(function() {
			archive = !archive;
			return loadBugReportList();
		});

		$('#search-breport-icon').attr('title', OPEN);

		//click search icon
		$('#search-breport-icon').click(function() {
			var icon = $(this);
			var search = $('#search-bin');
			var user = search.find('input').val();
			var att = search.attr('display');
			if(att == 'none' || att == '') {
				icon.attr('title', CLOSE);
				search.attr('display', 'inline');
				search.show('slide', {direction: 'right'}, 1000);
			} else {
				if(user == '') {
					search.hide('slide', {direction: 'right'}, 1000, function() {
						search.attr('display', 'none');
						icon.attr('title', OPEN);
					});
					return;
				}
				$('#search-berror').css('display', '');
				$('#search-berror').html('error');
				$('#search-berror').fadeOut(5000);
			}
		});

	});
div.tab-pane.fade#breports
	div.row
		div.iactions
			div
				div(style='float: left; margin: 10px 10px;')
					h5.color-grey Bug Reports
						h6.color-grey#breport-info Currently viewing all active bug reports
				div(style='float: right; margin: 33.5px 5px;')
					div.link#viewarch-btn
						i.fa.fa-archive
						span#archive-breport  Archive
	div.row(style='padding: 15px;')
		div#search-breport(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Click the search icon to begin searching for a report. Search with criteria using name:
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Example: name: cody - what
				br
				span Will search for any reports by user 'cody' with 'what' in the title
			p.color-red#search-berror(style='display: none')
			div
				span.glyphicon.glyphicon-search.link#search-breport-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
				div#search-bin(style='float: right; display: none;', display='none')
					input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
		div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
		div
			div#breport-main
			div.pages Pages: 
				div#breport-pages
