include utils/stylesheet
include utils/script

if useDefault
    doctype html
    html
        head
            title Cryogen Website
            meta(name='description', content='Cryogen RSPS. Runescape cloned.')
            meta(name='keywords', content='Cryogen, Runescape, RSPS')
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(http-equiv='X-UA-Compatible', content='IE=9')
            meta(name='viewport', content='width=device-width, initial-scale=1')

            +includeScript('ui/jquery/jquery')
            +includeScript('ui/jquery-ui.min')
            +includeScript('jquery.nicescroll')
            +includeScript('noty/packaged/jquery.noty.packaged')
            +includeScript('noty/themes/cryogen')
            +includeScript('utils/alerts')
            +includeScript('utils/spa')
            +includeScript('default')
            script(src='/bootstrap/js/bootstrap.min.js')
            script(src='/bootstrap/js/bootbox.min.js')

            link(rel='icon', href='/images/favicon.ico')
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
            link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
            link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
            link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', media='screen')
            link(rel='stylesheet', href='/js/ui/jquery-ui.min.css')
            +includeStylesheet('default')
            +includeStylesheet('misc')
            block head
        body
            //- TODO - block in top right displaying info
            //- Uptime, next restart, players online, forum viewers
            div#page-container
                nav.navbar.navbar-default.cryogen-nav(role='navigation')
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                            span.sr-only Toggle navigation
                            for i in [1,2,3]
                                span.icon-bar
                    div.navbar-brand
                        img.img-responsive.logo(src='/images/logo.png')
                    div#center-div
                        div.collapse.navbar-collapse#navbar-collapse-1
                            ul.nav.navbar-nav.nav-items(style='margin-left: 22px;')
                                li
                                    a.link.spa-link(href='/', data-link='/') Homepage
                                li.dropdown
                                    a.link.dropdown-toggle(data-toggle='dropdown') Play
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='http://api.cryogen-rsps.com/live/download/latest') Download as JAR
                                li#spacer(class='spacer')
                                    a.spa-link(href='/forums') Community
                                li
                                    a.spa-link(href='/highscores') Highscores
                                li
                                    a.spa-link(href='/account/vote') Vote
                                li.dropdown
                                    a.dropdown-toggle(href='/account', data-toggle='dropdown') Account
                                        b.caret
                                    ul.dropdown-menu
                                        if loggedIn
                                            //- TODO - Add SPA functionality instead of href
                                            li
                                                a.spa-link(href='/account') Overview
                                            li
                                                a.user(data-id=user.getId()) Profile
                                            li
                                                a.spa-link(href='/forums/private/inbox') Inbox
                                            li
                                                a.spa-link(href='/account/shop') Shop
                                        else
                                            li
                                                a.signin(href='#') Sign In
                                            li
                                                a.spa-link(href='/recover') Forgot my Password
                                            li
                                                a.spa-link(href='/register') Register
                                        li(class='divider')
                                        if loggedIn
                                            if user.getRights() > 0
                                                li
                                                    a.spa-link(href='/staff') Staff
                                            li
                                                a.spa-link(href='/support') Support
                                            li
                                                a.spa-link(href='/logout') Sign Out
                                li.dropdown
                                    a.dropdown-toggle(href='/notifications', data-toggle='dropdown')
                                        span
                                            i.fa.fa-bell
                                    .dropdown-menu#notification-menu
                div#main-content
                    block content
                div(class='footer')
                    div(class='container')
                        div(class='row')
                            div(class='col-md-'+(loggedIn && user.getRights() > 1 ? '3' : '4'))
                                h3 Cryogen
                                ul
                                    li
                                        a(href='http://api.cryogen-rsps.com/live/download/latest') Download JAR
                                    li
                                        a(href='http://github.com/Pyragon/cryogen-website', target='_blank') Open-Sourced
                                    li
                                        a.spa-link(href='/api') API Documentation
                            div(class='col-md-'+(loggedIn && user.getRights() > 1 ? '3' : '4'))
                                h3 Community
                                ul
                                    li
                                        a.spa-link(href='/forums') Forums
                                    li
                                        a.spa-link(href='/highscores') Highscores
                                    li
                                        a.spa-link(href='/discord', target='_blank') Discord
                                    li
                                        a.spa-link(href='/account/vote') Vote
                            div(class='col-md-'+(loggedIn && user.getRights() > 1 ? '3' : '4'))
                                h3 Account
                                ul
                                    if loggedIn
                                        li
                                            a.spa-link(href='/account') Account
                                        li
                                            a.spa-link(href='/forums/user/'+user.getId()) Profile
                                        li
                                            a.spa-link(href='/forums/private/inbox') Inbox
                                        if user.getRights() > 0
                                            li
                                                a.spa-link(href='/staff') Staff
                                        li
                                            a.spa-link(href='/logout') Sign Out
                                    else
                                        li
                                            a.spa-link(href='/support') Support
                                        li
                                            a.signin(href='#') Sign In
                                        li
                                            a.spa-link(href="/register") Register
                                        li
                                            a.spa-link(href='/recover') Forgot my Password
                            if loggedIn && user.getRights() > 1
                                div.col-md-3
                                    h3 Admin
                                    ul 
                                        li
                                            a#clear-cache(href='#') Clear Cache
                                        li
                                            a.spa-link(href='/forums/admin') Forums Admin Panel
else
    block head
    block content