script.
  $(document).ready(function() {
    
    $('.auth-char').keypress(function(e) {
      if(e.charCode < 48 || e.charCode > 57)
        return false;
      var $this = $(this);
      setTimeout(function() {
        if($this.val().length >= parseInt($this.attr("maxLength"),10))
          $this.next("input").focus();
      }, 0);
    });
    
    $('.auth-refresh').click(function() {
      $(this).blur();
      $('.auth-spin').addClass('fa-spin');
      setTimeout(function() {
        $('.auth-spin').removeClass('fa-spin');
      }, 2000);
      $.post('/vote', {action:'refresh'}, function(data) {
        $('.auths').html(data);
        $('.refresh-alert').html('Refreshed!');
        $('.refresh-alert').css('display', '');
        $('.refresh-alert').fadeOut(2000);
      });
    });
    
  });
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
div.tab-pane.fade(id='vote')
  h5 About Auths:
  p.small Collect auth codes by voting on the sites below. Users can then proceed to click on each auth (below) and select "Exchange Auth" to exchange the auth for one voting point credited towards your account for use with the voting shop 
    strong or
    | can also choose to delete the auth. You 
    strong may
    | trade auth codes with players. If you've recently bought an auth code from another player, you may enter it below.
  h5 My Auths:
    button.btn.btn-normal.auth-refresh(style='float: right;') Refresh 
      i.fa.fa-refresh.auth-spin
    p.refresh-alert(style='float: right; margin-top: 10px; margin-right: 12px; color: green;')
  br
  pre.auths
    include auth-list
  h5 Voting sites:
    div.row
      div.col-md-6
        -var time = voteManager.getTime(0);
        -var clas = time == 0 ? 'enabled' : 'disabled';
        -var titl = time == 0 ? 'You can currently vote at this site' : 'You must wait another '+time+' minutes before voting again';
        div.site(class=clas, title=titl) Rune-Server
      div.col-md-6
        div.site.enabled(title='You can currently vote at this site') Rune-Server
  h5 Enter Auth Code:
  p.small Enter a unique 12 character auth code below to claim the auth to your account. You can obtain these codes through give-aways or through trading goods to players in exchange for auth codes. You can use these codes in our voting shop for unique prizes.
  div.claim-auth
    div.row
      div.col-md-10.col-md-offset-2(style='margin-left: 144px;')
        for i in jIterator.iterate(3)
          input(class='auth-char s'+(i+1), style='width: 150px;' type='text', maxlength='4', placeholder='_ _ _ _')
    button.btn.btn-normal.btn-center.claim-auth-btn(style='margin-left: 307px;') Claim Auth
        
