extend ../default

block head
    +includeScript('/utils/tabs')
    script.
        $(document).ready(() => {

            buildPage('staff', {
                'player-reports': 'Player Reports',
                'bug-reports': 'Bug Reports',
                'appeals': 'Appeals',
                'recoveries': 'Recoveries'
            }, '!{active}');

        });

block content
    include ../utils/tabs