extend ../../../default

block head
	meta(http-equiv='refresh', content='5; url=/')
block content
	div.container
		div.row
			div.col-md-6.col-md-offset-3
				div.widget.verify
					div.header(style='border-bottom: none;')
						if success
							h4.color-green Verification successful!
							h5 You are currently being redirected. Click #[a(href='/') here] if you do not wish to wait.
						else
							h4(style='color: red;') Verification failed
							h5(style='color: red;') There has been a problem with your verification. Please try again.
							h5 You are currently being redirected. Click #[a(href='/') here] if you do not wish to wait.
