div.col-md-6.box
  div.alert.alert-custom.modal-alert.email-alert
  div.col-md-6
    label Email Preferences:
  div.col-md-6
    if user.getEmail() != null
      p.color-grey.overview= 'Email: '+user.getEmail()
    p.color-grey.overview Enter a new email here. You will be emailed a link and asked to verify it afterwards
    input.form-control(type='text', placeholder='Enter New Email')
