extend default

block content
	div.container
		div.row
			div.col-md-6.col-md-offset-3
				div.widget.redirect
					div.header(style='border-bottom: none;')
						h4.color-white Cryogen Payment Processing...
						h5.color-grey We are currently processing your payment
