include ../utils/name

for message in messages
    .chat(data-id=message.get('id'))
        p.chat-author
            span
                +renderName(message.get('account'))
            span.small= ' - '+format.formatTimestamp(message.get('stamp'), 'MMM dd -  hh:mm:ss a')
        p.chat-message= message.get('content')
        .chat-remove.link(style='display: none;')
            i.far.fa-times-circle