include ../utils/stylesheet
include ../utils/script
include ../utils/module

+includeStylesheet('neko')
+includeStylesheet('utils/input')
+includeScript('neko/keyboard')
+includeScript('neko/storage')
+includeScript('neko/chat')
+includeScript('neko/censor')
+includeScript('neko/video')
+includeScript('neko/main')

script.
    let username = '!{user.getUsername()}';
    let sessionId = '!{sessionId}'
    let rights = parseInt('!{user.getRights()}')
    let storage = createStorageObject();

    if (/*@cc_on!@*/false) { // check for Internet Explorer
        document.onfocusin = onFocus;
        document.onfocusout = onBlur;
    } else {
        window.onfocus = onFocus;
        window.onblur = onBlur;
    }

    function onFocus() {
        if(window.newMessage === true)
            $('title').html('Cryogen Website');
        window.inFocus = true;
    }

    function onBlur() {
        window.inFocus = false;
    }

    $(document).ready(() => {

        createConnection(username, sessionId, rights)

        setNotification();

        $('#neko-notifications').click(toggleNotifications);

        function setNotification() {

            let notifications = localStorage.getItem('notification-sound');
            if(notifications == null || notifications == 0) return;

            $('#neko-notifications').find('span').html(' Enable Notifications');
        }

        function toggleNotifications() {

            let notifications = localStorage.getItem('notification-sound');

            if(notifications == null) notifications = 1;

            notifications = notifications == 1 ? 0 : 1;

            localStorage.setItem('notification-sound', notifications);

            $('#neko-notifications').find('span').html(' '+(notifications == 0 ? 'Disable' : 'Enable')+' Notifications');

        }

        $('.minimize-btn').click(function() {
            toggleMinimize($(this));
        });

        function toggleMinimize(element) {
            let minus = element.find('i').attr('class').includes('minus');
            setMinimized(element);

            let id = 'minimized-'+element.closest('.neko-widget').data('id');
            
            storage.setSetting(id, minus);

        }

        function setMinimized(element) {
            element.closest('.neko-widget').find('.content').slideToggle(400);
            let minus = element.find('i').attr('class').includes('minus');
            element.find('i').attr('class', 'fa fa-'+(minus ? 'plus' : 'minus'));
        }

        loadMinimized();

        function loadMinimized() {
            let data = [ 'minimized-now-playing', 'minimized-controls', 'minimized-watching', 'minimized-chat' ];
            for(let key of data) {
                let widget = $('.neko-widget[data-id='+key.replace('minimized-', '')+']');
                if(storage.getSetting(key) == 'true' || storage.getSetting(key) == true)
                    toggleMinimize(widget.find('.minimize-btn'));
            }
        }

    });

.container
    .row
        .col-md-9
            .widget.neko-widget
                .header
                    h4.color-white Movie Night!
                    .clear
                .content#neko-content
                    video
                    .overlay
        .col-md-3
            .widget.neko-widget(data-id='controls')
                .header
                    h4.color-white Controls
                    .minimize-btn.link
                        i.fa.fa-minus
                    .clear
                .content
                    if user.getRights() == 2
                        .control#neko-controlling
                            i.fas.fa-keyboard
                            span  Enable Controls
                    .control#neko-fullscreen
                        i.fas.fa-expand
                        span  Fullscreen
                    .control#neko-volume
                        i.fas.fa-volume-up
                        span  
                            input.volume-slider(type='range', min='1', max='100', value='50')
                    .control#neko-mute
                        i.fas.fa-volume-mute
                        span  Mute
                    .control#neko-notifications
                        i.fas.fa-bell
                        span  Disable Notifications
                    .control#neko-chat-filter
                        i.fa.fa-filter
                        span  Enable Filter
            .widget.neko-widget(data-id='watching')
                .header
                    h4.color-white Watching
                    .minimize-btn.link
                        i.fa.fa-minus
                    .clear
                .content#neko-members
            .widget.neko-widget#neko-chat-container(data-id='chat')
                .header
                    h4.color-white Chat
                    .minimize-btn.link
                        i.fa.fa-minus
                    .clear
                .content#neko-chat
                    #chat-container
                        #chat-loading
                            p
                                i.fas.fa-sync-alt.fa-spin
                    #chat-input
                        input.input(type='text', placeholder='Chat Message')
                        span
                            i.fa.fa-paper-plane.link
