script.
  var recoveries_page = 1
  var archived = false
  var recoveries_filter = 'all'
  $(document).ready(() => {

    loadList()

    function loadList() {
      $.post('/staff/recoveries', { action:'load-list', archive:archived, page:recoveries_page }, (ret) => {
        var data = getJSON(ret)
        if(data == null) return false
        $('#recoveries-main').html(data.html)
        updatePage(data.pageTotal, recoveries_page, 'recoveries')
      })
    }

    function loadListWPage(archive, page) {
      recoveries_page = page
      archived = archive
      loadList()
    }

    function viewRecovery() {
      var id = $(this).closest('tr').data('id')
      $.post('/staff/recoveries', { action:'view-recovery', id:id }, (ret) => {
        var data = getJSON(ret)
        if(data == null) return false
        var buttons = []
        if(data.active) {
          buttons.push({
            addClass: 'btn btn-success', text: 'Accept', onClick: function($noty) {
              closeNoty($noty)
              viewResponse(id, 'accept')
            }
          })
          buttons.push({
            addClass: 'btn btn-danger', text: 'Decline', onClick: function($noty) {
              closeNoty($noty)
              viewResponse(id, 'decline')
            }
          })
        }
        buttons.push({
          addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
            closeNoty($noty)
          }
        })
        if(n != null)
          n.close();
        n = noty({
          text: 'View recovery',
          type: 'confirm',
          layout: 'center',
          template: data.html,
          dismissQueue: false,
          theme: 'cryogen',
          buttons: buttons
        })
      })
    }
    
    function viewResponse(id, response) {
      $.post('/staff/recoveries', { action:'view-response', response:response }, (ret) => {
        var data = getJSON(ret)
        if(data == null) return false
        if(n != null)
          n.close();
        n = noty({
          text: 'Are you sure you wish to '+response+' this recovery?',
          type: 'confirm',
          layout: 'center',
          template: data.html,
          dismissQueue: false,
          theme: 'cryogen',
          buttons: [
            {
              addClass: 'btn btn-success', text: 'Yes', onClick: function($noty) {
                if(response == 'decline')
                  decline(id)
                else
                  accept(id)
                closeNoty($noty)
              }
            },
            {
              addClass: 'btn btn-danger', text: 'No', onClick: function($noty) {
                closeNoty($noty)
              }
            }
          ]
        })
      })
    }
    
    function accept(id) {
      $.post('/staff/recoveries', { action:'accept', id:id }, (ret) => {
        var data = getJSON(ret)
        if(data == null) return false
        sendAlert('Recovery has been successfully accepted.')
        loadList()
        return true
      })
      return true
    }
    
    function decline(id) {
      var reason = $('#decline-rec-reason').val()
      $.post('/staff/recoveries', { action:'decline', id:id, reason:reason }, (ret) => {
        var data = getJSON(ret)
        if(data == null) return false
        sendAlert('Recovery has been successfully declined.')
        loadList()
        return true
      })
      return true
    }

    function switchArchive() {
      archived = !archived;
      recoveries_page = 1;
      removeFilters('recoveries')
      $('#archive-recoveries').html(' View '+(archived ? 'Active' : 'Archive'))
      loadList();
    }

    function changePage() {
      var page = $(this).data('page')
      if(page == recoveries_page)
        return false;
      recoveries_page = page;
      loadList();
    }

    $('#recoveries-archive-btn').click(switchArchive)
    $('#search-recoveries-icon').click(clickedSearchIcon)
    
    $(document).on('click', '#recoveries-pages span', changePage)
    $(document).on('click', '.remove-filter', clickedFilter);
    $(document).on('click', '.viewr', viewRecovery);

    $('#search-recoveries-icon').attr('title', OPEN);

    function clickedSearchIcon() {
      clickSearchIcon('recoveries', archived, recoveries_page, loadListWPage, { }, 'staff-recoveries')
    }

    function clickedFilter() {
      clickRemoveFilter('recoveries', $(this), archived, loadListWPage, { }, 'staff-recoveries')
    }

    $(document).keydown((e) => {
      var element = document.activeElement
      var focused = $(element)
      if(e.which == 13) {
        clickedSearchIcon();
      }
    })

      $(document).click(function(e) {
        var target = e.target;
        if(n == null)
          return;
        var id = n.options.id;
        if($(e.target).closest('#'+id).length) {

        } else {
          n.close();
          n = null;
        }
      });

  })
h5 Recoveries
p.small.info The following are the recoveries made by players.
p.small.info You can filter between recoveries using the buttons on the right, or the search bar below
p.small.info You can view the recovery using the View button next to it, and follow the buttons on the recovery to moderate it.
div.row 
  div.iactions
    div
      div(style='float: left; margin: 10px 10px;')
        div.col-xs-4
          p.color-grey.search-info Click the search icon to begin searching through recoveries. Search using filters with filter:value and separate with commas. True/false or yes/no can be used.
        div.col-xs-4
          p.color-grey.search-info Filters: username: (name), status: (accepted/declined) (only available in archive), date: (dd/mm/yyyy-dd/mm/yyyy), reason: (reason) (only available in archive)
        div.col-xs-4
          p.color-grey.search-info Example: username: cody, status: declined
      div(style='float: right; margin: 33.5px 5px;')
        div.link#recoveries-archive-btn
          i.fa.fa-archive
          span#archive-recoveries  View Archive
div.row(style='padding: 15px;')
  div#search-recoveries(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
    div
      span.fa.fa-search.link#search-recoveries-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
      div#search-recoveries-pin(style='float: right; display: none;', display='none')
        input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
  div.search-filters-recoveries(style='clear: both; float: right;')
  div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
  div#recoveries-main
  div.pages
    div#recoveries-pages
