.noty_message
    span.noty_text
.container#respond-container(style='width: 100%')
    .row
        .col-md-6
            p Reason:
        .col-md-6
            textarea.input#reason(type='text', placeholder='Reason')
.noty_close