extend ../default

block head
  link(rel='stylesheet', href='/stylesheets/staff/staff.css')
  link(rel='stylesheet', href='/stylesheets/staff/announcements.css')
  link(rel='stylesheet', href='/stylesheets/staff/punishments.css')
  script.
    var loaded = []
    var section = ''
    function loadSection(section) {
      $.post('/staff/'+section, { action:'load' }, (ret) => {
        var data = getJSON(ret)
        if(data == null) return null
        $('#'+section).html(data.html)
        return true
      })
    }
    $(document).ready(() => {
      section = '!{section.getName()}'

      history.pushState({}, 'StaffSection', '/staff/'+section)

      loadSection(section)

      loaded.push(section)

      $('.nav-tabs a[href="#'+section+'"]').tab('show')

      $('.nav-tabs a').click(function() {
        $(this).tab('show');

        section = $(this).attr('href').replace("#", "")
        if(!loaded.includes(section)) {
          if(loadSection(section))
            loaded.push(section)
        }
        history.pushState({}, "StaffSection", "/staff/"+section)

      })
    })

block content
  div.container.account-area(style='min-height: 600px; padding: 20px 0;')
    div.row
      div.col-md-3
        ul.nav.nav-tabs
          li.nav.active.account-item
            a(href='#announcements', data-toggle='tab') Announcements
          li.nav.account-item
            a(href='#reports', data-toggle='tab') Reports
          li.nav.account-item
            a(href='#punishments', data-toggle='tab') Punishments
          li.nav.account-item
            a(href='#appeals', data-toggle='tab') Appeals
          if user.getRights() == 2
            li.nav.account-item
              a(href='#recover', data-toggle='tab') Recoveries
      div.col-md-9
        div.widget
          div.tab-content.content
            div.tab-pane.fade.in.active(id='announcements')
            div.tab-pane.fade.in(id='reports')
            div.tab-pane.fade.in(id='punishments')
            div.tab-pane.fade.in(id='announcements')
            div.tab-pane.fade.in(id='appeals')
            div.tab-pane.fade.in(id='recover')
