include ../utils/script
include ../utils/stylesheet

+includeStylesheet('utils/list')
+includeStylesheet('utils/buttons')
+includeStylesheet('utils/input')
+includeScript('/utils/tabs')
+includeStylesheet('account/recover')
+includeStylesheet('staff/staff')
script.
    $(document).ready(() => {

        buildPage('staff', {
            'player-reports': 'Player Reports',
            'bug-reports': 'Bug Reports',
            'punishments': 'Punishments',
            'appeals': 'Appeals',
            'recoveries': {
                title: 'Recoveries',
                rights: 2
            }
        }, '!{active}');

    });

include ../utils/tabs