include ../utils/script
include ../utils/stylesheet

script.
    window.rights = parseInt('!{user.getRights()}');

+includeScript('/utils/tabs')
+includeStylesheet('account/recover')
script.
    $(document).ready(() => {

        buildPage('staff', {
            'player-reports': 'Player Reports',
            'bug-reports': 'Bug Reports',
            'appeals': 'Appeals',
            'recoveries': {
                title: 'Recoveries',
                rights: 2
            }
        }, '!{active}');

    });

include ../utils/tabs