extend ../default

block head
  script.
    $(document).ready(function() {
      var section = window.location.hash;
      if(section != null && section != "")
        $('.nav-tabs a[href="'+section+'"]').tab('show');
        
        
        $('.nav-tabs a').click(function (e) {
          $(this).tab('show');
          window.location.hash = this.hash;
        });
    });

block content
  div.container.account-area(style='min-height: 600px; padding: 20px 0;')
    div.row
      div.col-md-3
        ul.nav.nav-tabs
          li.nav.active.account-item
            a(href='#overview', data-toggle='tab') Overview
          li.nav.account-item
            a.vote(href='#preports', data-toggle='tab') Player Reports
          if user.getRights() > 1
            li.nav.account-item
              a(href='#breports', data-toggle='tab') Bug Reports
          li.nav.account-item
            a(href="#appeals", data-toggle="tab") Appeals
      div.col-md-9
        div.widget
          div.tab-content.content
            
