html, body {
  height: 100%;
  background: url('../images/bg-lighting.png') no-repeat scroll center -463px #18597f;
  padding: 0;
  margin: 0;
  color: #888;
}

#p-online {
  margin: 0 0 auto auto;
  max-width: 130px;
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 5px;
}

.vis-link {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: #0174DF !important;
}

#acmenu li {
  padding: 4px;
}

.dropdwn {
  position: relative;
}

.dropdown-menu {
  min-width: 100%;
}

.text-sm-input {
  max-width: 350px;
}

.text-input {
  max-width: 350px;
  height: 150px;
  background-color: #111;
  border: 1px solid #000;
  margin: auto;
}

span {
  text-align: center;
}

.dropdwn-cnt {
  display: none;
  position: absolute;
  min-width: inherit;
}

.dropdwn-cnt a {
  display: block;
  text-decoration: none;
}

.dropdwn-show {
  display: block;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-ph)
}

.iactions td {
  font-size: 11px;
}

.link {
  cursor: pointer;
}

#breaker {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#appeal-info {
  padding: 22px 120px;
  text-align: center;
}

#appeal-info .glyphicon {
  font-size: 22px;
}

#appeal-info h3 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 15px;
}

#appeal-info ul {
  padding: 0;
  text-align: left;
  font-size: 12px;
}

#appeal-info ul li {
  margin: 15px 0;
}

.login-box {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  border: 2px solid #000;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 1);
  height: 200px;
  width: 500px;
}

#login-container {
  height: 200px;
  margin: 125px auto;
  width: 500px;
}

#logo {
  margin-left: 65px;
  margin-top: 55px;
  position: absolute;
  transition: all 0.6s ease 0s;
}

#logo:hover {
  transform: rotateY(180deg);
}

#placeholder {
  margin-left: 10px;
  margin-top: 52px;
}

.input {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  color: #fff;
  display: block;
  height: 30px;
  margin: 30px 0 30px 200px;
  padding: 0 10px;
  width: 250px;
  font-size: 11px;
}

.input:focus {
  outline: 0 none !important;
}


/*
* Typography, gradients, ect
*/

a {
  outline: 0 !important;
}

a:hover {
  text-decoration: none;
}

h4 {
  color: #000;
}

h4.title {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.minimize, .modal-content {
  background: rgb(35, 35, 35);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(35, 35, 35, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
}

.color-white {
  color: #FFF;
}

.color-grey {
  color: #999;
}

.color-red {
  color: #FF0000;
}

.color-green {
  color: #129a11;
}

.close {
  color: #FFF;
}

.minimize {
  float: right;
  color: #FFF;
  font-size: 12px;
  font-weight: 800;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #111;
}

.minimize:hover {
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  /* Opposite gradient */
  background: rgb(19, 19, 19);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(99%, rgba(19, 19, 19, 1)), color-stop(100%, rgba(35, 35, 35, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#232323', GradientType=0);
  /* IE6-9 */
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  align: center;
  margin: auto;
  z-index: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #111;
}

.dropdown-menu {
  background-color: #111;
  border: 0;
}

.dropdown-menu>li>a {
  color: #666 !important;
}

.dropdown-menu>li>a:hover {
  color: #FFF !important;
  background: #18597f;
}

.dropdown-menu .divider {
  background: #18597f;
}

.supp-divider {
  border: 1px solid #000;
  margin: auto;
}

.navbar-collapse-1>.nav>.spacer {
  margin: 0;
}

.logo {
  margin: 25px auto;
}

.spacer {
  margin-right: 100px;
}

.navbar-toggle {
  margin-top: 113px;
}

.cryogen-nav {
  background: url('../images/navbar.png') repeat-x scroll 0 0 transparent;
  min-height: 150px;
  border: 0;
  border-radius: 0;
}

.cryogen-nav a {
  transition: color .3s;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-items {
  margin-top: 105px;
}

.alert-custom {
  background: #fa5959;
  color: #800a0a;
}


/* Modal Content */

.modal-content {
  border: 1px solid #111;
}

.modal-header {
  border-bottom: 2px solid #18597f;
}

.modal-footer {
  border-top: 2px solid #18597f;
}

.modal-alert, .mini-alert {
  display: none;
}

.mini-alert {
  margin: 10px 10px 0 10px !important;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.form-group>label {
  color: #FFF;
}

.modal-icon {
  width: 25px;
  margin-right: 10px;
}


/*
* Account Area
*/

.account-item {
  background: #124d70;
  border: 1px solid #111;
  padding: 10px 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  text-align: center;
  transition: all .3s;
  margin: 0 10px 15px 10px !important;
  width: 100%;
  padding: 0;
}

.account-item:hover {
  cursor: pointer;
  background: #0e4464;
}

.account-area .nav-tabs {
  padding: 0;
  border: 0;
}

.account-area .content {
  padding: 15px 20px;
}

.account-area .nav-tabs li a {
  border: 0;
  color: #BBB !important;
  margin: 0;
  border-radius: 5px;
}

.account-area .nav-tabs li a:hover {
  background: inherit;
  border: 0;
  color: #FFF !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: #0a354f;
  color: #FFF !important;
  border: 0;
}


/* FA REFRESH BUTTON */

.refresh-alert {
  float: right;
  margin-top: 10px;
  margin-right: 12px;
}

.auth-refresh-spin {}

.auths, .cart, .items {
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  color: #666;
}

.auths p, .cart p, .items p {
  margin: 5px 0;
}

.auth {
  transition: color .4s;
}

.auth:hover {
  cursor: pointer;
  color: #CCC;
}

.auth-options {
  background: #0a0a0a;
  border: 1px solid #222;
  display: none;
  border-radius: 3px;
  font-size: 11px !important;
}

.auth-options .row {
  margin: 0;
}

.auths .active {
  color: #CCC;
}

p.small {
  font-size: 10px;
  padding: 5px 20px;
}

.auth-options a {
  padding: 0px 10px;
  text-align: center;
  width: 100%;
  display: block;
}

.auth-options a .glyphicon {
  font-size: 12px;
  color: #FFF;
}

.site {
  background: #111;
  border: 1px solid #333;
  text-align: center;
  margin: 5px 15px;
  padding: 10px 0;
  transition: border-color .4s;
}

.site:hover {
  cursor: pointer;
  border-color: #888;
}

.enabled {
  color: #167027;
}

.disabled {
  color: #821515;
}

.auth-char {
  background: #111;
  border: 0;
  color: #666;
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
  text-indent: 10px;
  text-transform: uppercase;
}

.claim-auth {
  margin: 10px 0 20px 0;
}

.cart {
  text-align: center;
}

.checkout {
  background: #115b02;
  border: 2px solid #000;
  text-align: center;
  padding: 5px 10px;
  transition: border-color .4s;
  color: #FFF;
  border-radius: 5px;
}

.checkout:hover {
  border-color: #888;
}

.items {
  margin: 10px 0;
  padding: 10px 30px;
}

.item-container {
  padding: 10px 5px;
}

.white {
  color: #FFF;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.t-center {
  text-align: center;
}

.col-minus {
  width: 30px;
}

.btn-green {
  background: #2cb12b;
  border: 1px solid #0d670c;
}

.btn-green:hover {
  background: #188e17;
  border: 1px solid #0a7109;
}

.cart-review {
  background: #151515;
  border: 1px solid #010101;
  min-height: 20px;
  text-align: left;
  padding: 3px;
}

.appeal-response {
  background: #151515;
  border: 1px solid #010101;
  min-height: 20px;
  min-width: 80%;
  text-align: left;
  padding: 3px;
}

.cart-list {
  text-align: left;
}

.item {
  background: #151515;
  border: 1px solid #010101;
  border-radius: 5px;
  min-height: 300px;
}

.item h3 {
  color: #FFF;
  font-size: 15px;
  text-align: center;
  margin: 10px 0;
}

.item img {
  padding: 10px 10px;
  max-height: 150px;
  margin: 10px auto;
  background: #111;
  border: 1px solid #222;
}

.item .info {
  background: #111;
  padding: 5px 5px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #222;
}

.addCart {
  margin: 10px auto;
  padding: 5px 50px;
  transition: color .4s;
}

.btn-error {
  background: #860303;
  color: #FFF;
}

.btn-error:hover {
  color: #000;
}

.btn-ok {
  background: #115b02;
  color: #FFF;
}

.btn-ok:hover {
  color: #000;
}

.down-widget {
  width: 100px;
  background: rgba(0, 0, 0, .7);
  /* Old browsers */
  border: 1px solid #111;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px 0 #000000;
  box-shadow: 0 0 20px 0 #000000;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.down-widget>.header {
  //background: rgb(38,142,203); /* Old browsers */
  //background: -moz-linear-gradient(top,  rgba(38,142,203,1) 0%, rgba(11,56,82,1) 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,142,203,1)), color-stop(100%,rgba(11,56,82,1))); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268ecb', endColorstr='#0b3852',GradientType=0 ); /* IE6-9 */
  background: #124d70;
  padding: 5px 10px;
  border-radius: 4px;
  border-bottom: 3px solid #111;
}


/* News Posting styles */

.news-post {
  background: rgba(0, 0, 0, .7);
  /* Old browsers */
  border: 1px solid #111;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 20px 0 #000000;
  box-shadow: 0 0 20px 0 #000000;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.news-post>.header {
  //background: rgb(38,142,203); /* Old browsers */
  //background: -moz-linear-gradient(top,  rgba(38,142,203,1) 0%, rgba(11,56,82,1) 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,142,203,1)), color-stop(100%,rgba(11,56,82,1))); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268ecb', endColorstr='#0b3852',GradientType=0 ); /* IE6-9 */
  background: #124d70;
  padding: 5px 10px;
  border-radius: 4px;
  border-bottom: 3px solid #111;
}

.widget .form-control:focus {
  border-color: #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}

.news-post>.header>.title {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  color: #FFF;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.news-post>.header>.author {
  margin: 0;
  font-size: 11px;
  color: #FFF;
  padding-left: 20px;
}

.news-post>.content>.wrapper {
  color: #AAA;
  font-size: 13px;
}

.news-post>.content>.wrapper>img {
  border: 3px solid #000;
  margin: 10px 0;
}

.news-post>ul {
  margin-bottom: 25px;
}

.news-post pre {
  background: #111;
  max-height: 300px;
  color: #AAA;
  border: 1px solid #222;
}

.news-post p {
  margin-bottom: 3px;
}


/*
* Account Overview
*/

.overview button:focus {
  outline: 0 !important;
}

.overview-info label {
  font-family: none;
  padding-left: 2px;
  font-size: 13px;
}

.overview {
  font-size: 10px;
}

.display-disabled::-webkit-input-placeholder {
  color: #610000;
}

.display-disabled:-moz-placeholder {
  color: #610000;
}

.display-disabled::-moz-placeholder {
  color: #610000;
}

.display-disabled:-ms-input-placeholder {
  color: #610000;
}

.display-disabled {
  border: 1px solid #610000 !important;
}


/*
* Register
*/

.register .row {
  margin: 0;
}

.register .box {
  padding: 15px 20px;
}

.register input {
  margin-bottom: 10px;
}

.register label {
  font-family: none;
  padding-left: 2px;
  font-size: 12px;
}

.register-info {
  padding: 22px 120px;
  text-align: center;
}

.register-info .glyphicon {
  font-size: 22px;
}

.register-info h3 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 15px;
}

.register-info ul {
  padding: 0;
  text-align: left;
  font-size: 12px;
}

.register-info ul li {
  margin: 15px 0;
}

.register .btn, .sidebar-btn, .btn-comment {
  margin: 100px auto 30px auto;
  display: block;
  padding: 10px 50px;
  background: #111;
  border: 2px solid #222;
  color: #777 !important;
  transition: border .3s, color .3s;
}

.sidebar-btn {
  margin: 10px auto;
  width: 95%;
  border: 3px solid #333;
  border-radius: 40px;
  font-size: 13px;
}

.register .btn:hover, .sidebar-btn:hover, .btn-comment:hover, .btn-comment:active {
  border: 2px solid #050505;
  background: #111;
  color: #CCC !important;
}

.sidebar-btn:hover {
  border: 3px solid #666;
}

.btn-default {
  max-width: 200px;
}


/*
Widget
*/

.theme-original {
  background: #151515;
  /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #124d70;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 1);
}

.theme-original>.header {
  border-bottom: 2px solid #333;
  padding: 8px 10px;
}

.theme-original>.header>h4 {
  margin: 0;
  font-size: 15px;
}


/*
* Mini highscores
*/

.widget, .mini-sh .content {
  //background: rgb(35,35,35);
  //background: -moz-linear-gradient(top,  rgba(35,35,35,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,35,35,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  rgba(35,35,35,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  rgba(35,35,35,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  rgba(35,35,35,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  rgba(35,35,35,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  background: #1C1C1C;
  border: 1px solid #111;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
}

.widget>.header {
  border-bottom: 1px solid #124d70;
  padding: 8px 10px;
}

.widget>.header>h4 {
  margin: 2px 0;
  font-size: 13px;
}

.widget>.header>h5 {
  font-size: 11px;
  padding-left: 10px;
  font-family: none;
  margin: 0;
  margin-top: 8px;
}

.mini-table, .hs-table {
  margin: 0;
}

.mini-table {
  font-size: 13px;
}

.mini-table>thead>tr {
  font-size: 12px;
  color: #FFF;
}

.mini-table>thead>tr>th {
  text-align: center;
  font-weight: 300;
}

.mini-table>tbody>tr>td {
  color: #AAA;
}

.mini-table>tbody>tr>td.rank {
  text-align: center;
  font-weight: 600;
  color: #FFF;
}

.mini-table>thead>tr>th, .mini-table>tbody>tr>th, .mini-table>tfoot>tr>th, .mini-table>thead>tr>td, .mini-table>tbody>tr>td, .mini-table>tfoot>tr>td {
  border-bottom: 1px solid #111;
}

.b-right {
  border-right: 1px solid #111;
}

.chevron {
  font-size: 15px;
  color: #222;
  text-align: center;
  width: 100%;
  margin: 8px 0;
}

.mini-sh {
  padding: 10px 20px 0 20px;
  margin: 0;
}

.mini-sh .content {
  padding: 10px 20px;
}

.mini-hs .content .row {
  margin: 0;
}

.mini-hs .content .row img {
  margin: 0 auto;
  max-width: 50px;
  min-height: 50px;
}

.mini-hs .personal-rank {
  text-align: center;
  display: block;
}

.mini-hs .level {
  text-align: center;
  display: block;
}

.mini-hs .xp {
  text-align: center;
  display: block;
}

.mini-hs .content h3 {
  padding: 0 10px;
  font-size: 15px;
}

.mini-skill {
  margin: 10px 0;
}

.search-username:focus {
  box-shadow: none;
  border: 1px solid #eee;
}


/*
* Mini login
*/

.mini-login form {
  padding: 10px 15px;
  color: #222 !important;
  font-size: 12px;
}

.mini-login label {
  font-weight: 300;
}

.mini-login form input, .register input, .form-control[disabled] {
  background: #111;
  border: 1px solid #000;
  font-size: 11px;
}

.mini-login button {
  float: left;
  background: #111;
  border: 1px solid #000;
  color: #666;
  font-size: 10px;
  width: 100%;
  min-width: 120px;
}

.mini-login button:hover {
  background: #181818;
  border-color: #000;
}

.usernav {
  margin: 10px 5px;
}


/*
* Highscores
*/

.hs-table>tbody>tr>td {
  color: #666;
  text-align: center;
}

.hs-table>tbody>tr>td.rank {
  text-align: center;
  font-weight: 600;
  color: #FFF;
  max-width: 50px;
}

.hs-table>thead>tr {
  font-size: 12px;
  color: #FFF;
}

.hs-table>thead>tr>th, .hs-table>tbody>tr>th, .hs-table>tfoot>tr>th, .hs-table>thead>tr>td, .hs-table>tbody>tr>td, .hs-table>tfoot>tr>td {
  border-bottom: 1px solid #111;
}

.skills {
  text-align: center;
  margin: 20px 0;
}

.skills>a>img {
  transition: all 0.1s ease-in-out 0s;
  width: 50px;
  height: 51px;
  padding: 5px;
}

.skills>a>img:hover {
  transform: scale(1.3, 1.3);
}

.hs-table .rank {
  width: 10%;
}


/*
* Footer style
*/

.footer {
  background: url('/images/noise.png') repeat scroll 0 0 #1a1a1a;
  margin-top: 20px;
  padding: 20px 0 30px 0;
  border-top: 8px solid #111;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer .row {
  margin: auto;
}

.footer ul li a {
  color: #888;
  font-size: 12px;
  transition: color .3s;
}

.footer ul li a:hover {
  color: #CCC;
}

.footer h3 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  font-size: 18px;
  color: #AAA;
}


/*
*Buttons
*/

.btn-normal {
  background: #111;
  border: 2px solid #333;
  padding: 6px 25px;
}

.btn-center {
  margin: 10px auto;
  display: block;
}


/*
* Loading bars
*/

.loader {
  margin: 0 auto;
  background: #333;
  background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
  background: -moz-radial-gradient(circle, #33495E, #2E2329);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

h1 {
  font-family: 'Actor', sans-serif;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  padding: 200px 0 20px 0;
  margin: 0;
}

.loader span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  -webkit-animation: 3s infinite linear;
  -moz-animation: 3s infinite linear;
  -o-animation: 3s infinite linear;
}

.loader span:nth-child(2) {
  background: #E84C3D;
  -webkit-animation: kiri 1.2s infinite linear;
  -moz-animation: kiri 1.2s infinite linear;
  -o-animation: kiri 1.2s infinite linear;
}

.loader span:nth-child(3) {
  background: #F1C40F;
  z-index: 100;
}

.loader span:nth-child(4) {
  background: #2FCC71;
  -webkit-animation: kanan 1.2s infinite linear;
  -moz-animation: kanan 1.2s infinite linear;
  -o-animation: kanan 1.2s infinite linear;
}

@-webkit-keyframes kanan {
  0% {
    -webkit-transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(20px);
    z-index: 200;
  }
}

@-moz-keyframes kanan {
  0% {
    -moz-transform: translateX(20px);
  }
  50% {
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(20px);
    z-index: 200;
  }
}

@-o-keyframes kanan {
  0% {
    -o-transform: translateX(20px);
  }
  50% {
    -o-transform: translateX(-20px);
  }
  100% {
    -o-transform: translateX(20px);
    z-index: 200;
  }
}

@-webkit-keyframes kiri {
  0% {
    -webkit-transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(-20px);
  }
}

@-moz-keyframes kiri {
  0% {
    -moz-transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(-20px);
  }
}

@-o-keyframes kiri {
  0% {
    -o-transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    -o-transform: translateX(20px);
  }
  100% {
    -o-transform: translateX(-20px);
  }
}

kanan 1.2s infinite linear;
-o-animation: kanan 1.2s infinite linear;

}
@-webkit-keyframes kanan {
  0% {
    -webkit-transform: translateX(20px);
  }

  50% {
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(20px);
    z-index: 200;
  }
}
@-moz-keyframes kanan {
  0% {
    -moz-transform: translateX(20px);
  }

  50% {
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(20px);
    z-index: 200;
  }
}
@-o-keyframes kanan {
  0% {
    -o-transform: translateX(20px);
  }

  50% {
    -o-transform: translateX(-20px);
  }

  100% {
    -o-transform: translateX(20px);
    z-index: 200;
  }
}
@-webkit-keyframes kiri {
  0% {
    -webkit-transform: translateX(-20px);
    z-index: 200;
  }

  50% {
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(-20px);
  }
}
@-moz-keyframes kiri {
  0% {
    -moz-transform: translateX(-20px);
    z-index: 200;
  }

  50% {
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(-20px);
  }
}
@-o-keyframes kiri {
  0% {
    -o-transform: translateX(-20px);
    z-index: 200;
  }

  50% {
    -o-transform: translateX(20px);
  }

  100% {
    -o-transform: translateX(-20px);
  }
}
kanan 1.2s infinite linear;
-o-animation: kanan 1.2s infinite linear;

}
@-webkit-keyframes kanan {
  0% {
    -webkit-transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(20px);
    z-index: 200;
  }
}
@-moz-keyframes kanan {
  0% {
    -moz-transform: translateX(20px);
  }
  50% {
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(20px);
    z-index: 200;
  }
}
@-o-keyframes kanan {
  0% {
    -o-transform: translateX(20px);
  }
  50% {
    -o-transform: translateX(-20px);
  }
  100% {
    -o-transform: translateX(20px);
    z-index: 200;
  }
}
@-webkit-keyframes kiri {
  0% {
    -webkit-transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(-20px);
  }
}
@-moz-keyframes kiri {
  0% {
    -moz-transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(-20px);
  }
}
@-o-keyframes kiri {
  0% {
    -o-transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    -o-transform: translateX(20px);
  }
  100% {
    -o-transform: translateX(-20px);
  }
}

}

}
