extend ../default

block head
	script(src='js/samsung/msf-2.3.4.min.js')
	script.
		$(document).ready(function() {
			window.msf.search(function(err, service) {
				if(err) sendAlert(err)

				if(service.length == 0)
					sendAlert('No services')
				else
					sendAlert('services not null')

			});
		})

block content
	div.widget.register
		p Loading... Please check console.
