div.noty_message
	span.noty_text
	div.widget.register(style='margin-top: 5px')
		div.report_line
			label.name Title
			input#title(type='text', placeholder='Title')
		div(style='clear: both;')
		div.report_line
			label.name Replicatable?
			input#replicate(type='text', placeholder='Is Replicatable?')
		div(style='clear: both;')
		div.report_line
			label.name Date Seen?
			input#seen(type='text', placeholder='Date Seen?')
		div(style='clear: both;')
		div.report_line
			label.name Extra Info
			textarea#info(placeholder='Any additional information (optional)', maxlength='300')
		div(style='clear: both;')
	div.noty_close
