div.tab-pane.fade.in.active(id='overview')
  div.widget.register.overview  
    div.row
      div.box
        h5.color-grey= 'Hello $for-name='+user.getUsername()+'$end, and welcome to the support section.'
        h6.color-grey Here you can report other players/bugs, as well as appeal any offences you may have on your account
