script.
  $(document).ready(function() {
    
    $('.rplayer-btn').click(function() {
      var title = $('.rplayer-title').val();
      var player = $('.rplayer-player').val();
      var rule = $('.rplayer-rule').val();
      var info = $('.rplayer-detailed').html();
      var proof = $('.rplayer-proof').html();
      if(title == "" || player == "" || rule == "" || info == "" || proof == "") {
        sendAlert('All fields must be filled out!', false);
        return;
      }
      $.post('/support', { mod:'report_player',title:title,offender:player,rule:rule,info:info,proof:proof }, function(ret) {
        var data = JSON.parse(ret);
        var success = data.success;
        if(!success) {
          sendAlert(data.error, false);
          return;
        }
        sendAlert('Report has been successfully sent. There are no ways for players to view these at the moment. But rest assured staff will see it.', true);
        resetFields();
      });
    });
    
    function sendAlert(alert, success) {
      $('.rplayer-alert').css('display', 'block');
      $('.rplayer-alert').css('color', success ? '#1F4F09' : '#800a0a');
      $('.rplayer-alert').css('background-color', success ? '#45CE06' : '#fa5959');
      $('.rplayer-alert').html(alert);
      $('.rplayer-alert').fadeOut(success ? 10000 : 15000);
    }
    
    function resetFields() {
      $('.rplayer-title').val('');
      $('.rplayer-player').val('');
      $('.rplayer-rule').val('');
      $('.rplayer-detailed').html('');
      $('.rplayer-proof').html('');
    }
    
  });
div.tab-pane.fade#report_player
  div.alert.alert-custom.modal-alert.rplayer-alert(role='alert', style='margin-left: auto; margin-right: auto;')
  div.row
    div.col-md-6.box
      div.rplayer-content
        label Report title:
        input.form-control.rplayer-title.text-sm-input(type='text', placeholder='Enter desired title', maxlength='55')
        label Player you are reporting:
        input.form-control.rplayer-player.text-sm-input(type='text', placeholder="Enter offender's name", maxlength='12')
        label What rule was broken?
        input.form-control.rplayer-rule.text-sm-input(type='text', placeholder='What rule was broken?', maxlength='55')
    div.col-md-6.box.rplayer-info
      label Enter a detailed report:
      textarea.form-control.rplayer-detailed.text-input(rows='4', cols='50', placeholder='Enter detailed report')
      label(style='margin-top: 15px;') Enter proof: (Link to image/video proof, separate by commas)
      textarea.form-control.rplayer-proof.text-input(rows='4', cols='50', placeholder='Enter proof')
    div.col-md-12
      button.btn.btn-default.rplayer-btn Report Player
