.btn {
    margin: 100px auto 30px auto;
    display: block;
    padding: 10px 50px;
    background: #111;
    border: 2px solid #222;
    color: #777;
    transition: border .3s, color .3s;
}

.btn:hover,
.btn:active,
.btn:link,
.btn:visited,
.btn:focus {
    background: #181818;
    border: 2px solid #000;
    color: #999;
}