div.noty_message
	span.noty_text
	p.small.color-grey If you are declining the appeal, please provide a brief reason for doing so. More detailed responses can be added as a comment.
	textarea.appeal-response#response(placeholder='Appeal response (75 char max)', maxlength='75')
div.noty_close
