script.
	var archive = false;
	var appeal_page = 1;
	$(document).ready(function() {

		loadAppealList();

		function loadAppealList() {
			loadList('appeal', archive, appeal_page);
			return false;
		}

		$(document).on('click', '.returna-but, .returnp-but', loadAppealList);

		$(document).on('click', '#punisha-link', function() {
			var tr = $(this).closest('tr');
			var id = tr.data('id');
			loadPunishment(id, 'true', 'appeal');
			return false;
		});

		$(document).on('click', '#viewa', function() {
			loadAppeal($(this).closest('tr').data('id'), 'appeal');
			return false;
		});

		$('#archivea-btn').click(function() {
			archive = !archive;
			appeal_page = 1;
			return loadPlayerReportList();
		});

		$(document).on('click', '#appeal-pages .page-link', function() {
			appeal_page = $(this).data('page');
			return loadAppealList();
		});

			//click search icon
		$('#search-appeal-icon').click(function() {
			var icon = $(this);
			var search = $('#searcha-pin');
			var user = search.find('input').val();
			var att = search.attr('display');
			if(att == 'none') {
				icon.attr('title', CLOSE);
				search.attr('display', 'inline');
				search.show('slide', {direction: 'right'}, 1000);
			} else {
				if(user == '') {
					search.hide('slide', {direction: 'right'}, 1000, function() {
						search.attr('display', 'none');
						icon.attr('title', OPEN);
					});
					return;
				}
				$('#search-aerror').css('display', '');
				$('#search-aerror').html('error');
				$('#search-aerror').fadeOut(5000);
			}
		});
	});
div.tab-pane.fade#appeals
	div.row 
		div.iactions
			div
				div(style='float: left; margin: 10px 10px;')
					h5.color-grey Appeals
						h6.color-grey#appealp-info Currently viewing all active appeals
				div(style='float: right; margin: 33.5px 5px;')
					div.link#archivea-btn
						i.fa.fa-archive
							span#archive-ap  Archive
	div.row(style='padding: 15px;')
		div#search-appeal(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Click the search icon to begin searching for an appeal. Search with criteria using name:
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Example: name: cody - what
				br
				span Will search for any appeal by user 'Cody' with 'what' in the title.
			p.color-red#search-aerror(style='display: none')
			div
				span.glyphicon.glyphicon-search.link#search-appeal-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
				div#searcha-pin(style='float: right; display: none;', display='none')
					input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
		div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
		div#appeal-main
		div.pages Pages: 
			div#appeal-pages
