div.header
  include mini-title
div.content
  -var index = -1
  if hsdata == null
    h3= 'Player '+hsname+' not found.'
  else
    h3(style='text-align: center;') &larr; #[a.return-but(href='#', title='Return to global') Go back]
    -var name = hsdata.getName()
    script.
      $('.return-but').click(function() {
        $.post('/highscores', { }, function(data) {
          $('.mini-hs').html(data);
        });
        return false;
      });
    -for i in jIterator.iterate(6)
      div.row
        -for r in jIterator.iterate(4)
          div.col-xs-3.col-md-3
            div.mini-skill
              img.img-responsive(src='./images/skills_hd/'+((i*4)+r)+'.png')
              -var rank = hsdata.getRank((i*4)+r)
              -var ranks = rank == 0 ? 'Unranked' : ''+rank
              span.personal-rank= 'Rank: '+ranks
              span.level= 'Level: '+hsdata.getLevel((i*4)+r)
              span.xp= 'XP: '+utils.formatDouble(hsdata.getXP((i*4)+r))
