#mini-hs-input {
    background: #111;
    border: 1px solid #000;
    font-size: 11px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#mini-hs-btn {
    background: #111;
    border: 1px solid #000;
    margin: 0px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chevron {
    font-size: 15px;
    color: #222;
    text-align: center;
    width: 100%;
    margin: 8px 0;
}

.mini-hs-header {
    padding: 10px 20px 0 20px;
    margin: 0;
}

.mini-hs-header .content {
    padding: 10px 20px;
}

.sidebar-btn {
    margin: 10px auto !important;
    width: 95%;
    border: 3px solid #333;
    border-radius: 40px;
    font-size: 13px;
}

.account-node-btns button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 25px;
    padding: 0px;
    border-radius: 5px
}

.account-node-btns .left {
    float: left;
    margin-left: 10px;
}

.account-node-btns .right {
    float: right;
    margin-right: 10px;
}