include ../utils/forum_name
-var i = 0
for post in newsPosts
	-i++;
	div(class='news-post '+(i == 1 || i == 2 ? '' : 'minimized'))
		div.header
			p.title= post.getThread().getTitle()
				a.minimize
					span.glyphicon.glyphicon-minus
			p.author= 'Posted '+post.getTimeRelative(null)+' by '
				span.author-name-link.link(data-link='/forums/user/'+post.getAuthor().getId())
					+showName(post.getAuthor(), 14, 15)
		div.content(style='padding: 0px;')
			div.wrapper(style='padding: 20px; font-size: 13px;' id='postid'+i)!= post.getFormattedPost(user)
script.
	$('.news-post pre').niceScroll({cursorborder: "", cursorcolor: "#222", cursorwidth: "5px"})
	$(".minimize").click(function() {
		$(this).closest(".news-post").find(".content").slideToggle(400);
		$(this).html($(this).html() == '<span class="glyphicon glyphicon-plus"></span>' ? '<span class="glyphicon glyphicon-minus"></span>' : '<span class="glyphicon glyphicon-plus"></span>');
	});
	$(".minimized").each(function() {
		$(this).find(".content").hide();
		$(this).find(".minimize").html('<span class="glyphicon glyphicon-plus"></span>');
	});
