script.
    //Hack to prevent browsers overwriting styles due to autocomplete.
    //Unfortunately prevents LastPass (and probably others) filling in username field for some reason. Still works for password field
    setTimeout(() => {
        $('.login-input').each(function() {
            $(this).attr('readonly', false);
        });
    }, 500);

    let redirect = '!{redirect}';

    $(document).ready(() => {

        $('#login-btn').click(login);

        function login() {
            let username = $('.username').val();
            let password = $('.password').val();
            let remember = $('#remember-me>input').val();
            let otp = $('#tfa-block').find('input').val();
            //TODO - https with SPA?

            post('/login', { username, password, remember, redirect, otp });
        }

        $('#forgot-btn').click(() => {

            let username = $('.username').val();
            post('/recover', { username });

        });

        $('.password').keydown(e => {
            if(e.which == 13) {
                let value = $('.password').val();
                if(!value) $('.username').focus();
                else login();
                return false;
            }
        });

        $('.username').keydown(e => {
            if(e.which == 13)
                $('.password').focus();
        });

        $('#toggle-tfa').click(() => {
            let css = $('#tfa-block').css('display');
            if(css == 'none') {
                $('#tfa-block').css('display', 'block');
                $('#toggle-tfa i').attr('class', 'fa fa-minus-square');
            } else {
                $('#tfa-block').css('display', 'none');
                $('#toggle-tfa i').attr('class', 'fa fa-plus-square');
            }
        });

    });

p Username:
input.username.login-input.input(type='text', placeholder='Enter username', readonly)
p Password:
input.password.login-input.input(type='password', placeholder='Enter password', readonly)
.clear
#toggle-tfa.link
    span
        i.fa.fa-plus-square
    span#tfa-op  Two-Factor Authentication Options
#tfa-block
    div
        span.color-white OTP: 
        input.input(type='text', placeholder='Enter OTP', title='Enter One-Time Password') 
div#remember-me
    input(type='checkbox')
    span  Keep me logged in
.login-node-buttons
    button.btn.btn-default.small-btn#login-btn Login
    button.btn.btn-default.small-btn#forgot-btn Forgot Password
    .clear