.btn {
    height: 25px;
    display: block;
    background: #111;
    color: #777;
    transition: border .3s, color .3s;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border: 1px solid #000;
}