html,
body {
    height: 100vh;
    width: 100%;
    background: url('../../public/images/bg-lighting.png') no-repeat scroll center -463px #18597f;
    color: #888;
    margin: 0px;
    font-family: 'Arial';
    font-size: 14px;
}

.navbar {
    background: url('../../public/images/navbar.png') repeat-x scroll 0 0 transparent;
    min-height: 150px;
    border: 0;
    border-radius: 0;
    width: 100%;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.footer {
    background: url('../../public/images/noise.png') repeat scroll 0 0 #1a1a1a;
    margin-top: 20px;
    padding: 20px 0 30px 0;
    border-top: 8px solid #111;
    bottom: 0;
    width: 100%;
}

.footer-btns {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px;
}

.footer-btns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    color: #888;
    font-size: 1rem;
    transition: color .3s;
    text-decoration: none;
}

.footer a:hover {
    color: #CCC;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.footer h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    font-size: 1.2rem;
    color: #AAA;
}

h4.title {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.grid-span-2 {
    grid-column: span 2;
}

.grid-col-3 {
    grid-column: 3;
}

.widget {
    background: #1C1C1C;
    border: 1px solid #111;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
}

.widget>.header {
    border-bottom: 1px solid #124d70;
    padding: 8px 10px;
    text-align: center;
}

.widget>.header>h4 {
    margin: 2px 0;
    font-size: 1rem;
}

.widget>.header>h5 {
    font-size: 1rem;
    padding-left: 10px;
    font-family: none;
    margin: 0;
    margin-top: 8px;
}

.input-container p {
    color: white;
    margin-left: 10px;
    color: white;
    text-align: left;
    padding: 5px 0;
    margin: 0 0 0 10px;
}

.input {
    border-radius: 3px;
    background: #111 !important;
    border: 1px solid #000;
    padding: 5px;
    margin-left: 10px;
    width: 90%;
    color: #999;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./../../public/fonts/HelveticaNeue.ttf");
}

@media only screen and (max-width: 700px) {
    .footer-btns {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        row-gap: 0px;
        text-align: center;
    }
    .footer-btns-4 {
        grid-template-columns: 1fr;
    }
}