html,
body {
    height: 100vh;
    width: 100%;
    background: url('http://localhost:3000/images/bg-lighting.png') no-repeat scroll center -463px #18597f;
    color: #888;
    margin: 0px;
    font-family: 'Arial';
    font-size: 14px;
}

.navbar {
    background: url('http://localhost:3000/images/navbar.png') repeat-x scroll 0 0 transparent;
    min-height: 150px;
    border: 0;
    border-radius: 0;
    width: 100%;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.user-avatar {
    height: 6rem;
    width: 6rem;
    margin: auto;
}

.footer {
    background: url('http://localhost:3000/images/noise.png') repeat scroll 0 0 #1a1a1a;
    margin-top: 20px;
    padding: 20px 0 30px 0;
    border-top: 8px solid #111;
    bottom: 0;
    width: 100%;
}

.footer-btns {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px;
}

.footer-btns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    padding-top: 5px;
}

.footer a {
    color: #888;
    font-size: .9em;
    transition: color .3s;
    text-decoration: none;
    padding-top: 5px;
}

.footer a:hover {
    color: #CCC;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.footer h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    font-size: 1.2rem;
    color: #AAA;
}

h4.title {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    padding: 0 20%;
    margin-top: -5px;
}

.nav-btn {
    text-decoration: none;
    color: #999;
    text-align: center;
}

.widget {
    background: rgba(0, 0, 0, .7);
    border: 1px solid #111;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
}

.header p {
    margin: 0;
}

.widget:not(:first-of-type) {
    margin-top: 20px;
}

.widget>.header {
    border-bottom: 1px solid #124d70;
    padding: 8px 10px;
    text-align: center;
}

.widget>.header>h4 {
    margin: 2px 0;
    font-size: 1rem;
}

.widget>.header>h5 {
    font-size: 1rem;
    padding-left: 10px;
    font-family: none;
    margin: 0;
    margin-top: 8px;
}

.input-container {
    margin-bottom: 1rem;
}

.input-title p,
.input-title-p,
.input-container p {
    color: white;
    margin-left: 10px;
    color: white;
    text-align: left;
    padding: 5px 0;
    margin: 0 0 0 10px;
}

.input {
    border-radius: 3px;
    background: #111 !important;
    border: 1px solid #000;
    padding: 5px;
    margin-left: 10px;
    width: 90%;
    color: #999;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.news-post {
    background: rgba(0, 0, 0, .7);
    /* Old browsers */
    border: 1px solid #111;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 20px 0 #000000;
    box-shadow: 0 0 20px 0 #000000;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.news-post>.header {
    background: #124d70;
    padding: 5px 10px;
    border-radius: 4px;
    border-bottom: 3px solid #111;
    height: 35px;
    //background: rgb(38,142,203); /* Old browsers */
    //background: -moz-linear-gradient(top,  rgba(38,142,203,1) 0%, rgba(11,56,82,1) 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,142,203,1)), color-stop(100%,rgba(11,56,82,1))); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(top,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* IE10+ */
    //background: linear-gradient(to bottom,  rgba(38,142,203,1) 0%,rgba(11,56,82,1) 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268ecb', endColorstr='#0b3852',GradientType=0 ); /* IE6-9 */
}

.minimize {
    float: right;
    color: #FFF;
    font-size: 1rem;
    font-weight: 800;
    padding: 6px 16px;
    border-radius: 5px;
    border: 1px solid #111;
    margin-bottom: 4px;
}

.minimize:hover {
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    /* Opposite gradient */
    background: rgb(19, 19, 19);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(99%, rgba(19, 19, 19, 1)), color-stop(100%, rgba(35, 35, 35, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(19, 19, 19, 1) 99%, rgba(35, 35, 35, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#232323', GradientType=0);
    /* IE6-9 */
}

.pages {
    display: grid;
    justify-content: right;
    margin: 0 1rem 1rem 0;
    color: white;
    font: .75em sans-serif;
}

.breadcrumb {
    font-size: .8rem;
    font-weight: bold;
}

.breadcrumbs {
    margin-bottom: 1rem;
}

.news-post-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    color: #FFF;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    text-decoration: none;
    color: white;
}

.news-post>.header>.description {
    margin-left: 10px;
    font-size: .5rem;
    font-weight: 300;
    color: white;
}

.news-post-description {
    margin: 0;
    font-size: .8rem;
    color: #FFF;
    padding-left: 20px;
}

.news-post>.content>.wrapper {
    color: #AAA;
    font-size: 1rem;
}

.news-post-text {
    padding: 1.5rem;
}

.news-post>.content>.wrapper>img {
    border: 3px solid #000;
    margin: 10px 0;
}

.news-post>ul {
    margin-bottom: 25px;
}

.news-post pre {
    background: #111;
    max-height: 300px;
    color: #AAA;
    border: 1px solid #222;
}

.news-post p {
    margin-bottom: 3px;
}

.input-description {
    color: #999;
    font-size: .9rem;
}

.minimize {
    background: rgb(35, 35, 35);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(35, 35, 35, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(35, 35, 35, 1) 0%, rgba(19, 19, 19, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#232323', endColorstr='#131313', GradientType=0);
    /* IE6-9 */
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("http://localhost:3000/fonts/HelveticaNeue.ttf");
}

@media only screen and (max-width: 700px) {
    .footer-btns {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        row-gap: 0px;
        text-align: center;
    }
    .footer-btns-4 {
        grid-template-columns: 1fr;
    }
}