div.header
    include mini-title
div.content
    table.table.mini-hs-table
        thead
            tr
                th Rank
                th Name
                th Total Level
                th Total XP
        tbody
            for data in hsdata
                tr
                    td.b-right= format.formatNumber(data.getOverallRank())
                    //- Should we link to user's profile or main highscores page?
                    td.b-right.spa-link.link(data-link='/user/'+data.getUser().getId())
                        +renderName(data.getUser())
                    td.b-right= format.formatNumber(data.getTotalLevel())
                    td.b-right= format.formatNumber(data.getTotalXp())