.noty_message
    span.noty_text
.cart-items
    for item in items.keySet()
        p= item.getName()+' x '+items.get(item)
p#paypal-confirmation Upon clicking continue, you will be redirected to Paypal to complete your transaction. 
.noty_close