div.header
  h4.color-white Highscores - Global
div.cnt
  table.table.hs-table.table-condensed.table-responsive
    thead
      tr
        th Rank
        th Username
        th Total Level
        th Total XP
    tbody
      for user in hsusers.getList()
        tr
          td.b-right.rank= user.getOverallRank()
          td.b-right= user.getName()
          td.b-right= user.getTotalLevel()
          td= utils.formatDouble(user.getTotalXP())
