div.noty_message
	span.noty_text
	div.widget.register(style='margin-top: 5px')
		p.t-center(style='margin-top:5px;') Name:
		input(type='text', placeholder='Name', value=item.getName(), style='text-align: center')
		p Recipe:
		div.recipe
			-var map = item.getRecipeItems()
			for key in map.keySet()
				div.ingredient
					input.name(type='text', placeholder='Name', value=key.getName(), style='text-align: center; float: left; max-width: 110px; margin-left: 10px;')
					i.remove.fa.fa-times-circle.link(style='float: right; margin-right: 10px;')
					input.amount(type='text', placeholder='Amount', value=map.get(key), style='text-align: center; float: right; max-width: 110px; margin-right: 10px;')
		div(style='clear: both;')
	div.link#add-prep-item(style='text-align:right; margin-top: 5px;')
		i.fa.fa-plus-circle
		span  Add Item
	div.noty_close
