script.
  var cart = [];
  $(document).ready(function() {
    
    $('.btn-ok').click(function() {
      var item = $(this).closest('.item');
      var quant = item.find('.quant');
      quant.css('display', 'block');
      $(this).css('display', 'none');
      increaseQuantity(item);
    });
    
    $('.btn-error').click(function() {
      //- var item = $(this).closest('.item');
      //- var butt = item.find('.but');
      //- butt.css('display', 'inline-block');
      //- $(this).css('display', 'none');
    });
    
    function increaseQuantity(item) {
      var id = item.data('id');
      if(cart[id] == null)
        cart[id] = 1;
      else
        cart[id]++;
      if(cart[id] > 10)
        cart[id] = 10;
      updateCart();
      updatePrice(cart[id], 1);
    }
    
    function decreaseQuantity(item) {
      
    }
    
    function setQuantity(item) {
      
    }
    
    function updateCart() {
      var car = "";
      for(var i in cart) {
        if(typeof cart[i] !== 'function')
          car += i+":"+cart[i];
          car += ",";
      }
      $.post('/account', {action:'update-cart', cart:car}, function(data) {
      
      });
    }
    
    function updatePrice(items, price) {
      $('.cart-price').html('Cart ('+items+') - $'+price);
    }
  });
div.tab-pane.fade(id='shop')
  h5 Cryogen Shop:
  p.small The Cryogen Shop allows you to purchase items/features to be used in-game and/or on the website. All items on this page are subject to change without notice. Please also keep in mind that there are NO refunds except in a case of valid reason.
  p.small All prices are in CAD.
  div.cart
    div.row
      div.col-md-3
        p
          span.color-white Total: 
          span.cart-price Cart (0) - $0
      div.col-md-6
        p
          span.color-white Cryogen Shop
      div.col-md-3
        button.checkout Checkout
  div.items
    div.row
      for item in shop.getItems()
        div.col-sm-4.item-container
          div.item(data-id=item.getId())
            h3.white= item.getName()
            img.img-responsive(src='/images/shop/bond.png')
            div.row
              div.col-sm-10.col-sm-offset-1
                p.info
                  span.color-white Type: 
                  span.color-white= item.getType()
            div.row
              div.col-sm-10.col-sm-offset-1
                p.small.color-grey.info= item.getDescription()
            div.row
              div.but(style='text-align: center;')
                div.col-sm-10.col-sm-offset-1
                  button.btn.btn-ok.addCart Add to Cart
              div.quant(style='display: none;')
                div.col-sm-10.col-sm-offset-1(style='padding-bottom: 15px;')
                  div.input-group
                    span.input-group-btn
                      button.quantity-left-minus.btn.btn-danger.btn-number(type='button', data-type='minus', data-field='')
                        span.glyphicon.glyphicon-minus
                    input.test.form-control.input-number(type='text', id='quantity', value='1', min='1', max-'10')
                    span.input-group-btn
                      button.quantity-right-plus.btn.btn-success.btn-number(type='button', data-type='plus', data-field='')
                        span.glyphicon.glyphicon-plus
  form(id='finish', action='/paypal', method='post', style='display: none;')
    input(type='hidden', id='data', name='data', value='null')
  
