script.
  var times = {};
  $(document).ready(function() {
    
    setInterval(refreshTime, 1000);
    
    $('.site').click(function() {
      var id = $(this).data('id');
      if(times[id] > 0) {
        sendAlert('You cannot vote at this site yet.');
        return false;
      }
      var url = getURL(id)
    //  sendAlert(url)
    });
    
    function refreshTime() {
        $.post('/account/vote', { action:'get-time' }, function(ret) {
          var data = getJSON(ret);
          if(data == null) return;
          var t = JSON.parse(data.times);
          for(var i = 0; i < 3; i++) {
            var time = t[i];
            var element = $('#site'+i);
            if(time <= 0) {
              element.prop('title','You can currently vote at this site');
              element.removeClass('disabled');
              element.addClass('enabled');
            } else {
              element.prop('title','You must wait another '+time+' seconds before voting again');
              element.removeClass('enabled');
              element.addClass('disabled');
            }
          }
        });
    }
    
    function getURL(id) {
      if(id == 0)
        return "!{manager.buildURL(user.getUsername(), 0)}";
      else if(id == 1)
        return "!{manager.buildURL(user.getUsername(), 1)}";
    else if(id == 2)
        return "!{manager.buildURL(user.getUsername(), 2)}";
    }
    
  });
  
h5 About Auths:
p.small.vote-info Collect auth codes by voting on the sites below.
p.small.vote-info You can then redeem those auth codes by clicking 'Exchange' underneath the code, or by trading to other players
div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
div
  h5(style='display: inline-block;') My Auths: 
  button.btn.btn-normal.auth-refresh(style='float: right; display: inline-block;') Refresh 
    i.fa.fa-refresh.auth-spin
  p.refresh-alert(style='float: right; margin-top: 10px; margin-right: 12px; color: green;')
pre.auths
  if auths.isEmpty()
    p No Auths Found!
  else
    for auth in auths
      p.auth(data-authuid=''+auth.getId())= auth.getFormattedAuth()
h5 Voting Sites:
  div.row
    for i in jIterator.iterate(3)
      -var time = times.get(i)
      -var clas = time == 0 ? 'enabled' : 'disabled';
      -var titl = time == 0 ? 'You can currently vote at this site' : 'You must wait another '+time+' seconds before voting again';
      div.col-md-6(class=(i == 2 ? 'col-md-offset-3' : ''))
        div.site(class=clas, title=titl, data-id=i)= manager.getName(i, false)
