table.table.hs-table.table-condensed.table-responsive.preports-table.widget(style='font-size: 12px;')
  thead
    tr
      th.t-center Username
      th.t-center Status
      th.t-center Created
      th.t-center View
  tbody
    for recovery in recoveries
      -var arch = archive ? 'true' : 'false';
      tr(data-id=recovery.getId(), data-arc=arch)
        td.b-right= '$for-name='+recovery.getUsername()+'$end'
        td.b-right
          span(class=''+recovery.getColour())= recovery.getStatus()
        td.b-right= formatter.formatTimestamp(recovery.getDate(), 'MMM dd, YYYY h:mm a')
        td.vis-link.viewr View
