div.noty_message
	span.noty_text
	p.small.color-grey If you are declining this recovery, please provide a small reason why. Keep this professional, it will be seen by the user.
	textarea.appeal-response#response(placeholder='Response (75 char max)', maxlength='75')
div.noty_close
