html
	body
		div.item-back
			div.item-pic
				img(src='http://cryogen-rsps.com/images/shop/bond.png')
			div.item-data
				div.item-name Name: Membership Bond
				div.item-desc Desc: A bond used to redeem membership in-game.
				div.item-req Item Requirements: None
