html
	head
		link(rel='stylesheet', href='http://test.cryogenrsps.com/stylesheets/forum.css')
	body
		div.item-back
			div.item-pic
				img(src='http://cryogenrsps.com/images/shop/bond.png')
			div.item-data
				div.item-name= 'Name: '+item.getName()
				div.item-desc= 'Desc: '+item.getDescription()
				div.item-req= 'Item Reqs: '+item.getReqString()
