include ../utils/script
include ../utils/stylesheet

+includeStylesheet('utils/list')
+includeStylesheet('utils/buttons')
+includeStylesheet('utils/input')
+includeScript('/utils/tabs')
script.
    $(document).ready(() => {
        buildPage('account', {
            'overview': 'Overview',
            'packages': 'Purchased Items',
            'vote': 'Vote',
            'shop': 'Cryogen Shop'
        }, '!{active}');
    });

include ../utils/tabs