div.noty_message
	span.noty_text
	div.widget.register.login-wrapper(style='margin-top: 5px')
		div.login_line
			label.name Username
			input.username(type='text', placeholder='Username')
		div(style='clear: both;')
		div.login_line
			label.name Password
			input.password(type='password', placeholder='Password')
		div(style='clear: both;')
	div.noty_close
