extend ../default

block content
  div.container
    div.row
      div.col-md-6.col-md-offset-3.box
        div.widget.mini-login
          div.header
            h4.color-white Login to Cryogen
              h5.color-grey Use this form to login to Cryogen. If you have lost your password. Please click the link provided.
          div.content(style='min-height: 400px;')
            include ../index/account-node/login-widget
