include ../utils/stylesheet

+includeStylesheet('account/register')
+includeStylesheet('utils/buttons')
script(src='https://www.google.com/recaptcha/api.js')
script.
    //Hack to prevent browsers overwriting styles due to autocomplete.
    //Unfortunately prevents LastPass (and probably others) filling in username field for some reason. Still works for password field
    setTimeout(() => {
        $('.register-input').each(function() {
            $(this).attr('readonly', false);
        });
    }, 1000);

    let recaptchaCompleted = false;

    $(document).ready(() => {

        $('#register').click(() => {
            let username = $('#username').val();
            let password = $('#password').val();
            let passwordCheck = $('#password-check').val();
            let response = grecaptcha.getResponse ? grecaptcha.getResponse() : null;

            if(!recaptchaCompleted || !response) {
                sendAlert('You must complete the reCAPTCHA before you can move on!');
                return false;
            }

            if(!username || username.length < 3 || username.length > 12) {
                sendAlert('Username must be between 3 and 12 characters.');
                return false;
            }

            if(!password || password.length < 6 || password.length > 20) {
                sendAlert('Password must be between 6 and 20 characters.');
            }

            if(password != passwordCheck) {
                sendAlert('Your passwords do not match.');
                return false;
            }
                
            post('/register/complete', { username, password, response });
                
        });
    });

    function completeRecaptcha() {
        recaptchaCompleted = true;
    }

.container
    .widget.register
        .header
            h4.color-white Register an Account
            h5.color-grey An account is required to access the game. You only need to register once, accounts are the same between the game and the website.
            h5.color-grey An account created in-game by logging in with your desired username/password will also work for the website.
        .content
            .row
                .col-md-6
                    p.register-label Username
                    input.register-input.input#username(type='text', placeholder='Enter desired username', value=username, readonly)
                    p.register-label Password
                    input.register-input.input#password(type='password', placeholder='Enter desired password', readonly)
                    p.register-label Retype Password
                    input.register-input.input#password-check(type='password', placeholder='Retype desired password', readonly)
                    .captcha-container
                        .g-recaptcha(data-sitekey=sitekey, data-callback='completeRecaptcha')
                .col-md-6.register-info
                    span.glyphicon.glyphicon-user(aria-hidden='true')
                    h3 Registration Info:
                    ul
                        li Usernames: Must be between 3 and 12 alphanumeric characters in length. Donators+ have the ability to change this name.
                        li Passwords: Must be between 6 and 20 characters and can contain any combination of symbols, numbers, and alpha characters. Passwords are case sensitive.
            button.btn.btn-default#register Register