.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.c-pointer {
    cursor: pointer;
}

.grey {
    color: #999;
}

.white {
    color: #fff;
}

.red {
    color: #c10000;
}

.green {
    color: #00c100;
}

.yellow {
    color: #ffc100;
}

.small {
    font-size: .75em;
}

.grid-span-2 {
    grid-column: span 2;
}

.grid-col-3 {
    grid-column: 3;
}

.grid-span-3 {
    grid-column: span 3;
}

.m-top-5 {
    margin-top: 5px;
}

.m-right-5 {
    margin-right: 5px;
}

.m-left-5 {
    margin-left: 5px;
}

.m-left-10 {
    margin-left: 10px;
}

.m-auto {
    margin: auto;
}

.m-top-not-first:not(:first-of-type) {
    margin-top: 5px;
}

.link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}