.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.c-pointer {
    cursor: pointer;
}

.grey {
    color: #999;
}

.white {
    color: #fff;
}

.small {
    font-size: .75em;
}