.table-container {
    padding: .5rem;
    background: #111111;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    font-size: .9rem;
}

thead {
    color: white;
    border-bottom: 1px solid #1C1C1C;
    margin-bottom: 1rem;
}

th,
td {
    padding: .3rem;
}

tr:not(:last-of-type) {
    border-bottom: 1px solid #1C1C1C;
}

.tile-image {
    max-width: 150px;
}

.long-text-container,
.tile-image-container,
.items-container {
    position: absolute;
    background-color: #222;
    padding: 0 5px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.items-container {
    min-width: 150px;
    min-height: 150px;
    padding: 10px 5px;
}

.tile-image-container {
    padding: 10px;
}

.long-text-container {
    color: white;
}