extend ../../default

block head
  if success == true
    meta(http-equiv='refresh', content='10; url=http://cryogen-rsps.com/')

block content
  div.container
    div.widget.register
      div.header
        h4.color-white Cancelling recovery
      div.content
        div.row
          div.box
            if error == 'no-id'
              p.color-red.t-center No ID specified. Please try again.
            else if error == 'invalid'
              p.color-red.t-center No recovery found for that ID. Please try again.
            else if error == 'invalid-instant'
              p.color-red.t-center No instant recovery found for that ID. Please try again.
            else if success == true
              p.color-red.t-center This recovery has been cancelled.
              p.color-white.t-center You are currently being redirected. Click #[a(href='http://cryogen-rsps.com/') here] if you do not want to wait.
