extend ../../default

block head
  script.
    $(document).ready(function() {
      var username = '#{id}';

      if(username !== '') {
        $('#username-recov').val(username);
        $('#username-recov').attr('disabled', true);
      }

      $('#recover-btn').click(function() {
        submit();
      });
    });

    window.onkeydown = function(e) {
      if(e.which == 13) {
        submit();
        return false;
      }
    };

    function submit() {
      var username = $('#username-recov').val();
      var email = $('#email-recov').val();
      var forum = $('#forum-recov').val();
      var creation = $('#creation-date').val();
      var cico = $('#city-country').val();
      var additional = $('#additional').val();
      var passes = [ $('#prev-pass0').val(), $('#prev-pass1').val(), $('#prev-pass2').val() ];
      if(username === '') {
        sendAlert('Username must be filled out.');
        return false;
      }
      if(allNull([email, forum, creation, cico, additional, passes[0], passes[1], passes[2]])) {
        sendAlert('At least one field must must be filled out.');
        return false;
      }
      $.post('/recover', { action:'submit', username:username, email:email, forum:forum, creation:creation, cico:cico, additional:additional, passone:passes[0], passtwo:passes[1], passthree:passes[2] }, function(ret) {
        var data = getJSON(ret);
        if(data == null) return false;
        var id = data.id;
        window.location='http://cryogen-rsps.com/view_status?success=true&id='+id
      });
      return false;
    }

    function allNull(values) {
      for(var i = 0; i < values.length; i++) {
        if(values[i] !== '')
          return false;
      }
      return true;
    }

block content
  div.container
    div.widget.register
      div.header
        h4.color-white Forgot Password
        h5.color-grey Recover your account due to a forgotten or stolen password.
        h5.color-grey At least 1 field and the username must be filled out. The more filled out, the better your chances of recovery.
        h5.color-grey If you have an email linked with the account, simply fill out the email, and send the report. If the email matches, you will be emailed a reset link.
        h5.color-grey If you have your forum account linked with the account, simply fill out the forum id, and send the report. If the id matches, you will be private messaged a reset link.
      div.content
        div.row
          div.col-md-6.box
            label Account Username: (This is the name you login with, not your display name)
            input.form-control#username-recov(type='text', placeholder='Enter username', maxlength='12')
            label Account Email: (If you have one linked, leave blank otherwise)
            input.form-control#email-recov(type='text', placeholder='Enter email')
            label Forum ID: (If you have one linked, leave blank otherwise)
            input.form-control#forum-recov(type='text', placeholder='Enter forum ID')
            label Creation Date: (in dd/MM/yyyy format)
            input.form-control#creation-date(type='text', placeholder='Enter approximate creation date')
            label City/Country when created
            input.form-control#city-country(type='text', placeholder='Enter City/Country on creation')
          div.col-md-6.box
            label Previous Passwords: (These passwords are not seen by staff. Click #[a(href='#') here] for more info)
            input.form-control#prev-pass1(type='text', placeholder='Enter previous password')
            input.form-control#prev-pass0(type='text', placeholder='Enter previous password')
            input.form-control#prev-pass2(type='text', placeholder='Enter previous password')
            label Additional Information:
            textarea.form-control.text-input#additional(rows='4', cols='50', placeholder='Enter detailed report')
        button.btn.btn-default#recover-btn(style='margin: 10px auto;') Submit Recovery
