script.
    let c;
    (async function() {
        import('/js/module-helper.js').then((mod) => {
            c = new mod.ModuleHelper('users', '/forums/admin/users');
            c.setup();
        }).catch(console.error);
    })();
    $(document).ready(() => {

        $('#add-user').click(function() {
            viewUserModal(true);
        });

        $(document).on('click', '.edit-user', function() {
            viewUserModal(false, $(this));
        });

        function viewUserModal(add, element) {
            let id;
            if(!add)
                id = element.closest('tr').data('id');
            $.post('/forums/admin/users/edit', add ? {} : { id }, (ret) => {
                let data = getJSON(ret);
                if(data == null) return false;
                let buttons = [];
                buttons.push({
                        addClass: 'btn btn-primary submit-btn', text: add ? 'Add' : 'Edit', onClick: ($noty) => {
                            let username = $('#username').val();
                            let displayName = $('#display-name').val();
                            let password = $('#password').val();
                            let rights = $('#rights').val();
                            let donator = $('#donator').val();
                            let avatar = $('#avatar').val();
                            let email = $('#email').val();
                            let displaygroup = $('option:selected').data('id');
                            let usergroups = $('#usergroups').val();
                            if(!username || !displayName || !rights || !donator || !displaygroup) {
                                sendAlert('Everything must be filled out!');
                                return false;
                            }
                            let vars = {
                                username,
                                displayName,
                                password,
                                rights,
                                donator,
                                avatar,
                                email,
                                displaygroup,
                                usergroups
                            };
                            if(!add) vars.id = id;
                            $.post('/forums/admin/users/save', vars, ret => {
                                let data = getJSON(ret);
                                if(data == null) return false;
                                sendAlert('Successfully '+(add ? 'added' : 'edited')+' user.');
                                closeNoty($noty);
                                c.loadList();
                            });
                        }
                    });
                if(!add)
                    buttons.push({
                        addClass: 'btn btn-danger', text: 'Remove', onClick: ($noty) => {
                            n = noty({
                                text: 'Are you sure? This will break the user\'s account',
                                type: 'confirm',
                                layout: 'center',
                                dismissQueue: false,
                                theme: 'cryogen',
                                buttons: [{
                                    addClass: 'btn btn-primary', text: 'Yes', onClick: ($noty) => {
                                        $.post('/forums/admin/users/'+id+'/remove', {}, ret => {
                                            let data = getJSON(ret);
                                            if(data == null) return false;
                                            closeNoty($noty);
                                            c.loadList();
                                            sendAlert('User deleted!');
                                        });
                                    }
                                }, {
                                    addClass: 'btn btn-danger', text: 'No', onClick: closeNoty
                                }]
                            });
                        }
                    });
                buttons.push({addClass: 'btn btn-danger', text: 'Cancel', onClick: closeNoty});
                n = noty({
                    text: (add ? 'Add' : 'Edit')+' User',
                    type: 'confirm',
                    layout: 'center',
                    template: data.html,
                    dismissQueue: false,
                    theme: 'cryogen',
                    buttons
                });
            });
        }
    });
div#users
    h5 Forum Users
    p.small.info The following is a list of all forum users for Cryogen
    p.small.info Please use the plus button to add a user.
    div.row
        div.iactions
            div
                div(style='float: left; margin: 10px 10px')
                    div.col-xs-4
                        p.color-grey.search-info Click the search icon to begin searching through users. Search using filters with filter:value and separate with commas. True/false or yes/no can be used.
                    div.col-xs-4
                        p.color-grey.search-info Filters: display_name: (name), usergroup: (group_name)
                    div.col-xs-4
                        p.color-grey.search-info
                div(style='float: right; margin: 33.5px 5px;')
                    div.link#add-user
                        i.fa.fa-plus-square
                        span  Add User
    div.row(style='padding: 15px;')
        div#search(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
            div
                span.fa.fa-search.link#search-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
                div#search-pin(style='float: right; display: none;', display='none')
                    input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
        div.search-filters(style='clear: both; float: right;')
        div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
        div#main
        div.pages
            div#pages
