.noty_message
    span.noty_text
    .widget.register(style='margin-top: 5px')
        .report_line
            label.name(style='padding: 15px;') Recipient
            input#recipient(type='text', style='min-width: 130px; max-width: 250px; width: 250px;')
        .clear
        .report_line
            label.name(style='padding: 15px;') Subject
            input#subject(type='text', style='min-width: 130px; max-width: 250px; width: 250px;')
        .clear
        .report_line
            label.name(style='padding: 15px;') Body
            textarea#body(style='min-width: 130px; max-width: 250px; min-height: 100px; width: 250px;')
        .clear
.noty_close