script.
  $(document).ready(function() {

    var n = null;
    var refresh_timeout = null;
    var id = null;

    $(document).on('click', '.package', function() {
      var element = $(this);
      var options = element.find('.package-options');
      if(options.length) {
        options.removeClass('active');
        options.slideToggle(300);
        return false;
      }
      if($('.package-options').length) {
        $('.package-options').prev().removeClass('active');
        $('.package-options').slideToggle(300, function() {
          placeOptions(element);
        });
      } else {
        placeOptions(element);
      }
    });

    $(document).click(function(e) {
      var target = e.target;
      if(n == null)
        return;
      var id = n.options.id;
      if($(e.target).closest('#'+id).length) {

      } else {
        n.close();
      }
    });

    $(document).on('click', '.redeem', function() {
      var id = $(this).closest('.package').data('id');
      $.post('/account', { action:'redeem-noty' }, function(ret) {
        var data = JSON.parse(ret);
        if(data.success == null) {
          sendAlert('Login session expired! Please reload the page.');
          return;
        }
        n = noty({
          text: 'Are you sure you wish to redeem this?',
          type: 'confirm',
          layout: 'center',
          dismissQueue: false,
          theme: 'cryogen',
          buttons: [{
            addClass: 'btn btn-primary', text: 'Confirm', onClick: function($noty) {
              $.post('/account', { action:'redeem', id:id }, function(ret) {
                var data = getJSON(ret);
                if(data == null) return false;
                startRefresh();
                sendAlert("We have attempted to claim this package on your in-game account for you. Check in-game for confirmation. Please wait while we refresh the page.");
                $noty.close();
              });
            }
          },
          {
            addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
              $noty.close();
            }
          }]
        })
      });
      return false;
    });

    function placeOptions(element) {
      $('.package-options').remove();
      element.append("<div class='package-options'><div class='row'><div class='col-xs-6 col-xs-offset-3'><a class='redeem' href='#'><span class='glyphicon glyphicon-transfer' aria-hidden='true'></span> Redeem and Claim in-game</a></div></div></div>");
      $('.package-options').prev().addClass('active');
      $('.package-options').slideToggle(300);
    }

    function startRefresh() {
      $('#redeem-main').css('display', 'none');
      $('.package-spinner').css('display', '');
      this.refresh_timeout = setTimeout(endRefresh, 1500);
    }

    function endRefresh() {
      clearTimeout(this.refresh_timeout);
      this.refresh_timeout = null;
      $.post('/account', { action:'view-packages' }, function(ret) {
        var data = JSON.parse(ret);
        if(data.success == null) {
          sendAlert('Login session expired! Please reload the page.');
          return;
        }
        if(!data.success) {
          sendAlert(data.error);
          return;
        }
        $('.packages').html(data.html);
        $('.package-spinner').css('display', 'none');
        $('#redeem-main').css('display', '');
      });
    }

  });
div.tab-pane.fade(id='redeem')
  h5.color-grey Redeem Packages
  p.small.color-white This page can be used to redeem any packages purchased on Cryogen. In the future this page will also be able to be used to exchange them for different packages.
  div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
  div.package-spinner(style='display: none;')
    i.fa.fa-refresh.fa-spin
  div#redeem-main(style='padding: 5px;')
    h6.color-grey How to Trade:
      p.small.color-grey The gamer's-grotto in-game can be used for secure trades of purchased packages. When trading players in this area, you will be prompted with a dialogue that will explain more.
      p.small.color-grey There is currently no way to trade packages via the website.
    h6.color-grey How to Redeem:
      p.small.color-grey Below you will find a list of all your purchased packages. Click on one to bring up a list that will allow you to redeem it.
    pre.packages
    //	include packages
