script.
  $(document).ready(() => {
    $('.row input').keydown((e) => {
      sendAlert(e.which)
    })
  })
div.noty_message
  span.noty_text
div.register
  div.row
    input.form-control#redeem-quant(type='text')
div.noty_close
