include ../utils/forum_name
include ../utils/forum_block
script.
    $(document).ready(() => {

        $(document).on('click', '.forum-lastpost>.name', function() {
            let link = $(this).data('link');
            $.post(link, {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                history.pushState({}, 'ForumSection', link);
                setBreadCrumbs(data.breadcrumbs, data.links);
                $('#forum-content').html(data.html);
            });
        });
        
        $(".minimize").click(function() {
            $(this).closest(".news-post").find(".content").slideToggle(400);
            $(this).html($(this).html() == '<span class="glyphicon glyphicon-plus"></span>' ? '<span class="glyphicon glyphicon-minus"></span>' : '<span class="glyphicon glyphicon-plus"></span>');
        });

        $(".minimized").each(function() {
            $(this).find(".content").hide();
            $(this).find(".minimize").html('<span class="glyphicon glyphicon-plus"></span>');
        });
        
    });

for category in categories
    if category.getPermissions() == null || category.getPermissions().canReadThread(user)
        div.news-post
            div.header
                p.title= category.getName()
                    a.minimize
                        span.fa.fa-minus
                p.description= category.getDescription()
            div.content
                for forum in category.getSubForums()
                    if forum.getPermissions() == null || forum.getPermissions().canReadThread(user)
                        +showBlock(forum)
                        div(style='clear: both;')
