extend ../default

block head
    script.
        $(document).ready(() => {

            $(document).on('click', '.forum-namedesc>.name', function() {
                let link = $(this).data('link');
                $.post(link, {}, ret => {
                    let data = getJSON(ret);
                    if(data == null) return false;
                    history.pushState({}, 'ForumSection', link);
                    $('#forum-content').html(data.html);
                    setBreadCrumbs(data.breadcrumbs, data.links);
                });
            });

            $(document).on('click', '#new-thread-btn', () => {
                $.post(location.pathname+'/new-thread', ret => {
                    let data = getJSON(ret);
                    if(data == null) return false;
                    history.pushState({}, 'ForumSection', location.pathname+'/new-thread');
                    $('#forum-content').html(data.html);
                    setBreadCrumbs(data.breadcrumbs, data.links);
                });
            });

            $(document).on('click', '#submit-thread-btn', function() {
                let title = $('#new-thread-title').val();
                let body = $('#new-thread-body').val();
                if(!title || title.length < 5 || title.length > 50) {
                    sendAlert('Title must be between 5 and 50 characters long.');
                    sendAlert(title);
                    return false;
                }
                if(!body || body.length < 5 || body.length > 50) {
                    sendAlert('Title must be between 5 and 50 characters long.');
                    return false;
                }
                $.post(location.pathname.replace('new-thread', 'submit-new-thread'), { title, body }, ret => {
                    let data = getJSON(ret);
                    if(data == null) return false
                    document.write(data.html);
                });
            });

            $(window).on("popstate", function(e) {
                location.reload();
            });

            $(document).on('click', '#breadcrumbs>span', function() {
                let link = $(this).data('link');
                if(!link) return false;
                $.post(link, {}, ret => {
                    let data = getJSON(ret);
                    if(data == null) return false;
                    $('#forum-content').html(data.html);
                    setBreadCrumbs(data.breadcrumbs, data.links);
                    history.pushState({}, "ForumSection", link);
                });
            });

            window.setBreadCrumbs =  function(breadcrumbs, links) {
                let element = $('#breadcrumbs');
                element.html('');
                for(let i = 0; i < breadcrumbs.length; i++) {
                    let value = breadcrumbs[i];
                    let span = $(`<span ${(i != breadcrumbs.length-1 ? (`class="link", data-link="${links[i]}"`) : (''))}>${value}</span>`);
                    let separator = $('<span> > </span>');
                    element.append(span);
                    if(i != breadcrumbs.length-1)
                        element.append(separator);
                }
            }

        });

block content
    div#content
        include main
