div.news-post
    div.header
        p.title New Thread
        p.description Use this form to create a new thread
    div.content
        p#new-thread-title-p Title
        input.input#new-thread-title(type='text')
        p#new-thread-body-p Body
        textarea.input#new-thread-body(type='text')
        button.btn.btn-default#submit-thread-btn Submit
