script.
    $(document).delegate('#new-thread-body', 'keydown', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9) {
            e.preventDefault();
            var start = this.selectionStart;
            var end = this.selectionEnd;
            $(this).val($(this).val().substring(0, start) + "\t" + $(this).val().substring(end));
            this.selectionStart = this.selectionEnd = start + 1;
        }
    });
div.news-post
    div.header
        p.title New Thread
        p.description Use this form to create a new thread
    div.content
        p#new-thread-title-p Title
        input.input#new-thread-title(type='text')
        p#new-thread-body-p Body
        textarea.input#new-thread-body(type='text', value=defaultMessage)
        button.btn.btn-default#submit-thread-btn Submit
