.extend-punishment, .decline-appeal {
  margin: auto;
  text-align: center;
}

.extend-punishment input {
  border-radius: 2px;
  background: #151515;
  border: 1px solid #010101;
  text-align: left;
  padding: 3px;
  max-width: 60%;
  margin: auto auto 10px auto;
}

create-announcement {
  margin: auto;
  text-align: center;
}

.create-announcement input {
  margin: auto auto 5px 5px;
  border-radius: 2px;
  background: #151515;
  border: 1px solid #010101;
  text-align: left;
  padding: 3px;
}

#decline-reason {
  background: #151515;
  border: 1px solid #010101;
  min-height: 20px;
  min-width: 80%;
  text-align: left;
  padding: 3px;
}

#create-punish .box{
  padding: 25px;
}

.reason-title {
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.reason {
  cursor: default;
  position: relative;
}

.hover-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: -35px;
  right: auto;
  bottom: 35px;
}

.bubble
{
position: relative;
width: 145px;
min-height: 100px;
padding: 0px;
background: #222;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #000 solid 1px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 12px 10px 0;
border-color: #222 transparent;
display: block;
width: 0;
z-index: 1;
bottom: -12px;
left: 62px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 12px 10px 0;
border-color: #000 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -13px;
left: 62px;
}

.reason:hover .hover-content {
  display: block;
}
