.decline-recovery {
  margin: auto;
  text-align: center;
}


#decline-rec-reason {
  background: #151515;
  border: 1px solid #010101;
  min-height: 20px;
  min-width: 80%;
  text-align: left;
  padding: 3px;
}
