div.noty_message
  span.noty_text
  h3 Read before you appeal:
  ul
    li You are responsible for any actions taken on your account by anyone you have given your password to.
    li You are responsible for any actions taken on your account by anyone in your household that may have obtained access to your computer.
    br
    li Please keep your appeals respectful and calm. We understand you may be angered about your punishment, but any flaming or otherwise will only make your appeal take longer or be denied out right.
  div.noty_close
