div.noty_message
  span.noty_text
  div.widget.register(style='margin-top: 5px')
    div.report_line
      label.name Title
      input#title(type='text', placeholder='Title', maxlength='40')
    div(style='clear: both;')
    div.report_line
      label.name Appeal
      textarea#info(placeholder='Type your appeal here. Max 750 chars.', maxlength='750')
    div(style='clear: both;')
  div.noty_close
