div(class='row usernav')
  div.col-xs-offset-1.col-xs-4.col-md-offset-1.col-md-4.col-sm-offset-1.col-sm-offset-1
    a(href='/account')
      button(class='btn btn-default') Account Overview
  div.col-xs-offset-1.col-xs-4.col-md-offset-1.col-md-4.col-sm-offset-1.col-sm-offset-1
    a(href='/highscores?user='+user.getUsername())
      button(class='btn btn-default') My Highscores
div(class='row usernav')
  div.col-xs-offset-1.col-xs-4.col-md-offset-1.col-md-4.col-sm-offset-1.col-sm-offset-1
    a(href='/account?section=vote')
      button(class='btn btn-default') Vote
  div.col-xs-offset-1.col-xs-4.col-md-offset-1.col-md-4.col-sm-offset-1.col-sm-offset-1
    a(href='/account?section=shop')
      button(class='btn btn-default') Shop
