div(class='row usernav')
  div(class='col-md-6')
    a(href='/account/')
      button(class='btn btn-default') Account Overview
  div(class='col-md-6')
    a(href='#')
      button(class='btn btn-default')
        s My Highscores
div(class='row usernav')
  div(class='col-md-6')
    a(href='/account/?section=vote')
      button(class='btn btn-default') Vote
  div(class='col-md-6')
    a(href='/account/?section=shop')
      button(class='btn btn-default') Shop
