script.
  $(document).ready(function() {
    function miniLogin() {
      var user = $(".user").val();
      var pass = $(".pass").val();
      if(user == '' || pass == '') {
        $(".mini-alert").css("display","block");
        $(".mini-alert").html("Both fields need to be filled out");
        return;
      }
      $.post('/login?mini-login=true', {username:user,password:pass}, function(data) {
        if(data == 'failed') {
          $(".mini-alert").css("display","block");
          $(".mini-alert").html("Invalid username or password");
          return;
        }
        document.write(data);
        document.close();
      });
    }
    $('.login').click(function() {
      miniLogin();
      return false;
    });
    $('.user').keypress(function(e) {
      if(e.which == 13) {
        $('.pass').focus();
        return false;
      }
    });
    ('.register-btn').click(function() {
      return false;
    });
  });
div(role='alert', class='alert alert-custom mini-alert')
form(role='form')
  div(class='form-group')
    label(for='username') Username:
    input(type='text', name="username", placeholder='Enter Username', id='username', class='form-control user')
  div(class='form-group')
    label(for='password') Password:
    input(type='password', name="password", placeholder='Enter Password', id='password', class='form-control pass')
  input(type="hidden", name="redirect", value="/")
  div.row
    div(class='col-md-6')
      button(class='btn btn-default login') Login
    div.col-md-6
        button.btn.btn-default.forgot(onclick="return false;") Forgot my Password
