div.main-login-wrapper(style='margin-top: 5px')
    p Username:
    input.username(type='text', placeholder='Enter username')
    p Password:
    input.password(type='password', placeholder='Enter password')
    div(style='padding: 20px; margin-bottom: 20px;')
        button.btn.btn-default.login(style='float: left; width: 45%;') Login
        button.btn.btn-default.forgot(style='float: right; width: 45%;') Forgot
        div(style='clear: both;')
