.remember-me-block {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.login-widget {
    display: grid;
    grid-column: 3;
}

.account-node-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.account-node-btn {
    text-decoration: none;
    text-align: center;
}

.login-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}

.toggle-tfa {
    margin: 5px 0 0 11px;
    font-size: 1rem;
}

#tfa-op {
    font-size: 1rem;
    margin-left: 5px;
}

#tfa-block {
    margin-top: 5px;
}

#tfa-block>div {
    margin: auto;
    width: 145px;
}

#tfa-block input {
    width: 100px;
}