script.
	var archive = false;
	var toggled = false;
	var page = 1;
	$(document).ready(function() {

		$('#search-preport-icon').attr('title', open);

		loadPlayerReportList();

		function loadPlayerReportList() {
			loadList('preport', archive, page);
			return false;
		}

		function loadPlayerReport(id) {
			loadReport('preport', archive, id);
		}

		$(document).on('click', '#view', function() {
			var tr = $(this).closest('tr');
			var id = tr.data('id');
			var type = tr.data('type');
			if(type != 'PLAYER')
				return;
			loadPlayerReport(id);
			return false;
		});

		$(document).on('click', '.return-but', loadPlayerReportList);

		$('#archive-btn').click(function() {
			archive = !archive;
			return loadPlayerReportList();
		});

		$(document).on('click', '.page-link', function() {
			page = $(this).data('page');
			return loadPlayerReportList();
		})

		//click for actions
		$(document).on('click', '#caction', function() {
			var cnt = $(this).find('.dropdwn-cnt');
			if(toggled) {
				cnt.removeClass('dropdwn-show');
			} else {
				cnt.addClass('dropdwn-show');
			}
			toggled = !toggled;
			return false;
		});

		$(document).on('click', '.archive-cac-btn', function() {
			var tr = $(this).closest('tr');
			var id = tr.data('id');
			noty({
				text: 'Are you sure you wish to archive this report?',
				type: 'confirm',
				layout: 'center',
				dismissQueue: false,
				theme: 'cryogen',
				buttons: [{
					addClass: 'btn btn-primary', text: 'Archive', onClick: function($noty) {
						$.post("/staff", { mod:'preport', action:'archive-report', id: id }, function(ret) {
							if(ret.includes('Login to')) {
								$noty.close();
								sendAlert('Session expired! Refresh the page to login again.');
								return;
							}
							var data = JSON.parse(ret);
							if(!data.success)
								sendAlert(data.error);
							else {
								$('#preport-main').html(data.html);
								sendAlert('Post successfully archived.');
							}
						});
						$noty.close();
						n = null;
					}
				},
				{
					addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
						$noty.close();
						n = null;
					}
				}]
			})
			return false;
		});

		$('#search-preport-icon').attr('title', OPEN);

		//click search icon
		$('#search-preport-icon').click(function() {
			var icon = $(this);
			var search = $('#search-pin');
			var user = search.find('input').val();
			var att = search.attr('display');
			if(att == 'none') {
				icon.attr('title', CLOSE);
				search.attr('display', 'inline');
				search.show('slide', {direction: 'right'}, 1000);
			} else {
				if(user == '') {
					search.hide('slide', {direction: 'right'}, 1000, function() {
						search.attr('display', 'none');
						icon.attr('title', OPEN);
					});
					return;
				}
				$('#search-perror').css('display', '');
				$('#search-perror').html('error');
				$('#search-perror').fadeOut(5000);
			}
			return false;
		});

	});
div.tab-pane.fade(id='preports')
	div.row 
		div.iactions
			div
				div(style='float: left; margin: 10px 10px;')
					h5.color-grey Player Reports
						h6.color-grey#preport-info Currently viewing all active player reports
				div(style='float: right; margin: 33.5px 5px;')
					div.link#archive-btn
						i.fa.fa-archive
							span#archive-p  Archive
	div.row(style='padding: 15px;')
		div#search-preport(style='clear: both; float: right; margin-bottom: 15px; text-align: left;')
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Click the search icon to begin searching for a report. Search with criteria using name:
			p.color-grey.search-info(style='font-size: 11px; margin-right: 10px; max-width: 200px; display: inline-block;') Example: name: cody - what
				br
				span Will search for any reports by user 'Cody' with 'what' in the title.
			p.color-red#search-perror(style='display: none')
			div
				span.glyphicon.glyphicon-search.link#search-preport-icon(style='display: inline; float: right; padding-left: 5px; margin-top: 7px;')
				div#search-pin(style='float: right; display: none;', display='none')
					input.form-control(type='text', placeholder='Search', style='max-width: 150px; max-height: 30px; background: #111; border: #000; display: inline!important;')
		div.col-md-12(style='border: 1px solid #000; clear: both; margin-bottom: 10px;')
		div#preport-main
		div.pages Pages:
			div#preport-pages
