div.col-md-12(style='border: 1px solid #000;')
br
div(style="margin: auto; max-width: 400px; padding: 5px;")
  p.t-center.color-grey Fuck me right? Go back
  h4.color-white.t-center Title
    h6.color-white.t-center= report.getTitle()
  h4.color-white.t-center Reportin
