div.tab-pane.fade#appeal
  div.row#appeal-content
    h5.color-grey Appeal an Offence
      h6.color-grey Below you will find a list of punishments currently active on your account.
    include create_appeal
