div(style='margin: 30px auto')
  h4.t-center.color-white Items of Interest
    h6.t-center.color-grey(style='font-size: 10px;') The following are announcements made by the Administrators. These announcements are for staff eyes only, and MUST be read.
    h6.t-center.color-grey(style='font-size: 10px;') These items will be displayed for at least a week after they are made. Each announcement has a 'Mark Read' button at the bottom of the page. This button must be pressed when you read it, and admins will be checking this. Failure to read these and mark them as such may result in disciplinary action.
    h6.t-center.color-grey No items of interest to show.
