div(style='margin: 30px auto')
  h4.t-center.color-white Items of Interest
    h6.t-center.color-grey(style='font-size: 10px;') Items considered 'interesting': pinned items or items you have commented on. Either of this can be unfollowed at any time.
    h6.t-center.color-grey No items of interest to show.
