div#comments(data-listid=list.getListId(), data-rights=list.getRightsReq())
  include comment_list
textarea.form-control.text-input#comment-input(rows='4', cols='50', placeholder='Enter comment')
a.btn.btn-default.btn-comment#comment-btn(style='margin: 15px auto;') Comment
