div(style='margin-bottom: 10px;')
  if comments.isEmpty()
    h6.t-center No comments have been made yet.
  else
    for comment in comments
      div(style="white-space: pre-wrap; margin: auto; max-width: 250px; border: 1px solid #000; padding: 10px; border-radius: 5px; background: #151515;")
        div(style='font-size: 12px; text-align: left;')= '$for-name='+comment.getUsername()+'$end Said:'
        div(style='font-size: 12px; text-align: left;')= formatter.formatTimestamp(comment.getTime(), 'MMMMM dd, YYYY hh:mm a')
        div.t-center(style='padding: 10px;')= comment.getComment()
