if list.getComments().isEmpty()
  h6.t-center No comments have been made yet.
else
  for comment in list.getComments()
    div.comment-box(data-id=comment.getId())
      if user.getRights() == 2
        div.remove-comment
          i.fa.fa-times
      div.comment-info= '$for-name='+comment.getUsername()+'$end Said:'
      div.comment-info= formatter.formatTimestamp(comment.getDate(), 'MMMMM dd, YYYY hh:mm a')
      div.t-center.comment= comment.getComment()
