//TODO - Add 'noBlock' variable to have print with display: inline-block or w/e to have it all on same line
mixin showName(author, height, width)
    span.link.forum-name(data-id=author.getId())
        if author.getImageBefore() != null && author.getImageBefore() != ''
            img.forum-name(src=author.getImageBefore(), style='height: '+height+'px; width: '+width+'px; vertical-align: middle;')
        span(style=author.getNameColour() == null ? '' : 'color: '+author.getNameColour()+';')= author.getDisplayName()
        if author.getImageAfter() != null && author.getImageAfter() != ''
            img.forum-name(src=author.getImageAfter(), style='height: '+height+'px; width: '+width+'px; vertical-align: middle;')