mixin showName(author, height, width)
    if author.getImageBefore() != null && author.getImageBefore() != ''
        img.forum-name(src=author.getImageBefore(), style='height: '+height+'px; width: '+width+'px; vertical-align: middle;')
    span(style=author.getNameColour() == null ? '' : 'color: '+author.getNameColour()+';')= author.getDisplayName()
    if author.getImageAfter() != null && author.getImageAfter() != ''
        img.forum-name(src=author.getImageAfter(), style='height: '+height+'px; width: '+width+'px; vertical-align: middle;')