script.
    let time = parseInt('!{time}');
    let link = '!{redirect}';
    setTimeout(() => {

        post(link, { first: true }, null, data => {

            $('#body').html(data.body);
            $('#footer').html(data.footer);
            $('#main-content').html(data.html);

            history.pushState({}, 'CryogenSPA', link);

            return false;

        });

    }, time * 1000);

.container
    .row
        .col-md-6.col-md-offset-3
            .widget.redirect
                .header(style='border-bottom: none;')
                    if title
                        h4(style='color: '+(titleColour ? titleColour : 'white'))= title
                    else
                        h4.color-white Redirecting
                    if extraInfo
                        h5.color-grey= extraInfo
                    h5.color-grey You are currently being redirected. Click #[a(href=redirect) here] if you do not wish to wait.
