mixin switch(id, width, height, checked=false)
    label.switch(id=id, style='width: '+width+'px !important; height: '+height+'px !important;')
        input(type='checkbox', checked=checked)
        span.slider.round
