script.
	var n = null;
	var archive = false;
	var announce_page = 1;
	$(document).ready(function() {

		loadAnnouncements();

		function loadAnnouncements() {
			loadList('announce', archive, announce_page);
			return false;
		}

		$(document).on('click', '#announce-pages .page-link', function() {
			announce_page = $(this).data('page');
			return loadAnnouncements();
		});

		$(document).on('click', '#archive-announce-btn', function() {
			archive = !archive;
			announce_page = 1;
			return loadAnnouncements();
		});

		$(document).on('click', '.read-announce', function() {
			if(n != null)
				n.close();
			var tr = $(this).closest('tr');
			var id = tr.data('id');
			var read = tr.data('read');
			$.post('/staff', { mod:'announce', action:'view-announce', id:id }, function(ret) {
				var data = getJSON(ret);
				if(data == null) return;
				if(read == 1) {
					n = noty({
						text: '',
						type: 'confirm',
						layout: 'center',
						dismissQueue: false,
						template: data.html,
						theme: 'cryogen',
						buttons: [
						{
							addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
								$noty.close();
							}
						}]
					})
				} else {
					n = noty({
						text: '',
						type: 'confirm',
						layout: 'center',
						dismissQueue: false,
						template: data.html,
						theme: 'cryogen',
						buttons: [
						{
							addClass: 'btn btn-primary btn-green', text: 'Mark Read', onClick: function($noty) {
								$.post('staff', { mod:'announce', action:'mark-read', id:id, archived:archive, page:announce_page }, function(ret) {
									var data = getJSON(ret);
									if(data == null) return;
									update(false, data.html, 'announce');
									updatePage(data.pageTotal, page, 'announce');
								});
								$noty.close();
							}
						},
						{
							addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
								$noty.close();
							}
						}]
					})
				}
			});
			return false;
		});

		$(document).on('click', '#create-announce', function() {
			$.post('/staff', { mod:'announce', action:'view-create-announce' }, function(ret) {
				var data = getJSON(ret);
				if(data == null) return;
				n = noty({
					text: 'Create announcement',
					type: 'confirm',
					layout: 'center',
					dismissQueue: false,
					template: data.html,
					theme: 'cryogen',
					buttons: [
					{
						addClass: 'btn btn-primary btn-green', text: 'Create', onClick: function($noty) {
							var title = $('#announce-title').val();
							var text = $('#announce-text').val();
							var date = $('#announce-date').val();
							if(title === '' || text === '' || date === '') {
								sendAlert('Please enter a valid title, announcement, and expiry date.');
								return false;
							}
							$.post('/staff', { mod:'announce', action:'create', title:title, text:text, expiry:date }, function(ret) {
								var data = getJSON(ret);
								if(data == null) return false;
								sendAlert('Announcement has been successfully posted. Thank you.');
								update(false, data.html, 'announce');
								$noty.close();
							});
						}
					},
					{
						addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
							$noty.close();
						}
					}]
				})
			});
			return false;
		});

		$(document).click(function(e) {
			var target = e.target;
			if(n == null)
				return;
			var id = n.options.id;
			if($(e.target).closest('#'+id).length) {

			} else {
				n.close();
			}
			return false;
		});

	});
div(style='margin: 30px auto')
	h4.t-center.color-white Staff Announcements
	h6.t-center.color-grey(style='font-size: 10px;') The following are announcements made by the Administrators. These announcements are for staff eyes only, and MUST be read.
	h6.t-center.color-grey(style='font-size: 10px;') These items will be displayed for at least a week after they are made. Each announcement has a 'Mark Read' button at the bottom of the page. This button must be pressed when you read it, and admins will be checking this. Failure to read these and mark them as such may result in disciplinary action.
	div(style='display: inline-block; margin: 10px 0;')
		div.link#create-announce(style='display: inline-block')
			i.fa.fa-plus-square
			span  New
		| 
		div.link#archive-announce-btn(style='display: inline-block')
			i.fa.fa-archive
			span#archive-announce  Archive
	div#announce-main
	div.pages
		div#announce-pages
