div.noty_message
	span.noty_text
div.create-a
	input#announce-title(type='text', placeholder='Enter title')
	textarea.appeal-response#announce-text(placeholder='Announcement')
	input#announce-date(type='text', placeholder='Expires (dd/MM/YYYY)')
div.noty_close
