script.
  var rights = "!{user.getRights()}"
  $(document).ready(() => {

    if(rights == 1) {
      $('.ptype[data-type=ban]').prop({
        disabled: true,
        title: 'Only Admins can ban players'
      })
      $('.pseverity[data-type=ip]').prop({
        disabled: true,
        title: 'Only Admins can mute IPs'
      })
      $('.plength[data-type=-1]').prop({
        disabled: true,
        title: 'Only Admins can permanently mute players'
      })
    }

  })
div.noty_message
  span.noty_text
  div.row.register.widget(style='margin-top: 10px;')
    div#create-punish
      div.box
        div.col-sm-12
          div.t-center Player
          input.form-control#player-search(type='text', style='margin-top: 10px;', placeholder="Start typing player's name")
          div.player-list(style='display: none; position: absolute; max-width: 201px; z-index: 10;')
        div.col-sm-12(style='margin-top: 10px;')
          div.t-center.color-white.fs-14 Type
          div.col-sm-5.col-sm-offset-1
            input.ptype(type='radio', data-type='mute')
            span
              |<br/>
              | Mute
          div.col-sm-5.col-sm-offset-1
            input.ptype(type='radio', data-type='ban')
            span
              |<br/>
              | Ban
        div.col-sm-12(style='margin-top: 10px;')
          div.t-center.color-white.fs-14 Severity
          div.col-sm-5.col-sm-offset-1
            input.pseverity(type='radio', data-type='account')
            span
              |<br/>
              | Account
          div.col-sm-5.col-sm-offset-1
            input.pseverity(type='radio', data-type='ip')
            span
              |<br/>
              | IP
        div.col-sm-12(style='margin: 10px;')
          div.t-center.color-white.fs-14 Length
          div.col-sm-2
            input.plength(type='radio', data-type='1')
            span
              |<br/>
              | 1 Day
          div.col-sm-2.col-sm-offset-1
            input.plength(type='radio', data-type='2')
            span
              |<br/>
              | 2 Days
          div.col-sm-2.col-sm-offset-1
            input.plength(type='radio', data-type='7')
            span
              |<br/>
              | 1 Week
          div.col-sm-2.col-sm-offset-1
            input.plength(type='radio', data-type='-1')
            span
              |<br/>
              | Never
      div.col-sm-12(style='margin: 10px;')
        div.t-center.color-white.fs-14 Reason
      div.col-sm-10.col-sm-offset-1
        textarea.appeal-response#punish-reason(placeholder='Please enter a detailed reason', style='width: 100%; height: 75px;')
div.noty_close
